<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo"
        src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        {{title}}
      </ion-text>
    </ion-buttons>
    <ion-row class="profile-settings text-10">
      <ion-text (click)="dismiss()" class="ion-vertical-align-right ion-margin-r-5 white-color ion-margin-t-5">
        Cancel
      </ion-text>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-nowrap ion-align-items-center">
    <ion-row>
      <ion-label>https://www.youtube.com/embed/</ion-label>
    </ion-row>
    <ion-row class="">
      <ion-input type="text" class="border" style="margin: 0;" [(ngModel)]="modelVideoPath"
        placeholder="Youtube Video Id">
      </ion-input>
    </ion-row>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button color="danger" type="submit" (click)="addVideo(modelVideoPath)" [disabled]="!modelVideoPath">
      Submit
    </ion-button>
  </ion-row>
</ion-content>
<!-- 
<ion-row  class="ion-nowrap ion-align-items-center">
  <ion-col  class="">
    <ion-textarea class="border" style="margin: 0;" [(ngModel)]="modelVideoPath" placeholder="Enter Embed Video Link">
    </ion-textarea>
  </ion-col>
</ion-row>
<ion-row  class="ion-nowrap ion-align-items-center">
  <ion-col  class="ion-text-center">
    <ion-button size="small" color="danger" (click)="addVideo(modelVideoPath)" [disabled]="!modelVideoPath">
      Add Embed Video Link
    </ion-button>
  </ion-col>
</ion-row> -->