<ion-content >
  <ion-grid style="height: 100%;align-items: center;justify-content: center;display: flex;flex-direction: column;padding: 0;">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button color="light">
          <ion-label> Hey, Let us know about your Noer</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center margin-top-50">
      <ion-col class="ion-text-center">
        <ion-label>Select type of Noer</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="type-of-noer" style="align-items: baseline;width:100%;">
      <ion-col class="ion-text-center align-center ion-activatable" (click)="noerSelection('anties')">
        <ion-avatar class="avatar ion-align-items-center" [ngClass]="{ active: profile.typeOfNoer == 'anties' }">
          <ion-icon class="custom-antie"></ion-icon>
          <!-- <ion-icon name="people"></ion-icon> -->
        </ion-avatar>
        <ion-label class="ion-padding-t-5">Antie's</ion-label>
        <ion-label class="ion-text-center ion-padding-t-5" style="font-size: small; opacity: 0.5;">What your Anti
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col class="ion-text-center align-center ion-activatable ion-no-padding" (click)="noerSelection('rejection')">
        <ion-avatar class="avatar ion-align-items-center" [ngClass]="{ active: profile.typeOfNoer == 'rejection' }">
          <ion-icon class="custom-reject"></ion-icon>
          <!-- <ion-icon class="ion-align-items-center" name="people"></ion-icon> -->
        </ion-avatar>
        <ion-label class="ion-padding-t-5">Rejector</ion-label>
        <ion-label class="ion-text-center ion-padding-t-5" style="font-size: small; opacity: 0.5;">What your Reject
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col class="ion-text-center align-center ion-activatable" (click)="noerSelection('hater')">
        <ion-avatar class="avatar ion-align-items-center" [ngClass]="{ active: profile.typeOfNoer == 'hater' }">
          <ion-icon class="custom-hater"></ion-icon>
          <!-- <ion-icon name="people"></ion-icon> -->
        </ion-avatar>
        <ion-label class="ion-padding-t-5">Hater</ion-label>
        <ion-label class="ion-text-center ion-padding-t-5" style="font-size: small; opacity: 0.5;">What your Hate
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top margin-top-50">
      <ion-col class="ion-text-center">
        <ion-label>Choose your City</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" style="width: 80%;">
      <ion-col size="12">

        <ionic-selectable item-content  closeButtonSlot="end" closeButtonText="Close"
        [(ngModel)]="profile.cityId" placeholder="Select Your City" itemValueField="id"
        shouldStoreItemValue="id"  itemTextField="name" [items]="cityList" [canSearch]="true">
        </ionic-selectable>

        <!-- <ion-select class="ion-padding-r-10" [(ngModel)]="profile.cityId" placeholder="Select Your City" okText="Okay"
          cancelText="Dismiss">
          <ion-select-option [value]="c.id" *ngFor="let c of cityList">{{ c.name }}</ion-select-option>
        </ion-select> -->
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top margin-top-50">
      <ion-button color="danger" (click)="onCreateGroup()" [disabled]="!profile.typeOfNoer || !profile.cityId">
        Choose your 'Say No To Group'
      </ion-button>
    </ion-row>
    <!-- <ion-row class="ion-justify-content-center">
      <ion-button color="light" (click)="updateSignIn()">
        START EXPLORING
      </ion-button>
    </ion-row> -->
  </ion-grid>
</ion-content>