<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-vertical-align-content">
  <ion-row class="ion-text-center ion-padding">
    <ion-col>
      <ion-img
        class="ion-text-center"
        style="width: 80px; height: 80px;margin: 0 auto;"
        src="assets/images/logo.png"
      ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-content>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <!-- <img src="assets/images/home.png" alt="your image"> -->
            <ion-img src="assets/images/hate.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="assets/images/home.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="assets/images/home.png"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row justify-content-center>
    <h3 class="red-color font-24">A new way to hate...!</h3>
  </ion-row>
  <ion-row justify-content-center>
    <ion-button color="light" (click)="signInWithGoogle()">
      <!-- <ion-icon class="custom-google"></ion-icon> -->
      <ion-img class="ion-padding-r-10" style="width:30px;" src="assets/images/google.png"></ion-img>
      Continu with Google
    </ion-button>
    <!-- <ion-button color="light" (click)="signInWithGoogleTest()">
           <ion-img class="ion-padding-r-10" style="width:30px;" src="assets/images/google.png"></ion-img>
      Continu without Google Test
    </ion-button> -->
  </ion-row>
</ion-content>
