<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="user-profile"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Live Chat
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-content>
        There are currently <strong>{{liveUsers.length}}</strong> users online. Start chatting!
      </ion-card-content>
    </ion-card>
    <ion-row *ngFor="let message of messages">
      <ion-col
        size="9"
        *ngIf="message.from !== nickname"
        class="message"
        [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}"
      >
        <span class="user_name">{{ message.from }}:</span><br />
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col
        offset="3"
        size="9"
        *ngIf="message.from === nickname"
        class="message"
        [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}"
      >
        <span class="user_name">{{ message.from }}:</span><br />
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form (submit)="sendMessage()">
      <ion-row class="message_row">
        <ion-col size="9">
          <ion-item no-lines>
            <ion-input type="text" placeholder="Message" [(ngModel)]="message" name="message"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button clear color="primary" type="submit" [disabled]="message === ''">
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-footer>
