:host {
  height: 100%;
  display: block;
}
.post-avatar {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.notifications{
  align-items: center;
  font-size: 14px;
  margin: 15px 0 2px;
  box-shadow: 0px 0px 6px #e2e2e2;
  border-radius: 5px;
  width: 100%;
}