<!-- <ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      Profile
    </ion-buttons>
    <ion-row class="profile-settings text-10">
      <ion-icon style="cursor: pointer;" name="cog" color="light" (click)="presentPopover($event)"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <ion-card class="card">
    <ion-card-header>
      <ion-avatar class="image-avater image-center ion-activatable">
        <img [src]="googlePic" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content class="card-body ion-text-center">
      <h3 class="username">{{ userInfo.displayName }}</h3>
      <h5 class="country">{{ userInfo?.city?.name }}</h5>
      <h5 class="country">{{ userInfo.typeOfNoer }}</h5>
      <!-- <h6 class="followes">Followes: <ion-chip>
          <ion-label>2</ion-label>
        </ion-chip>
      </h6> -->
    </ion-card-content>
  </ion-card>

  <ion-grid class="">
    <ion-row class="">
      <ion-col class="ion-text-start">
        <ion-label class="meeting-title " style="font-size: 18px;" (click)="presentModal()">Following Groups</ion-label>
      </ion-col>
      <ion-col class=" ion-text-end">
        <ion-label class="meeting-title" style="color: red;cursor: pointer;" (click)="presentModal()"
          >Create A Group
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-list class="meeting-list">
          <ion-item class="meeting-item ion-no-padding" *ngFor="let item of groupList;let gInx=index;">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="img-left">
                  <ion-avatar class="avater text">
                    <label style="font-weight: bold;" [ngStyle]="{'color':item.textColor}">{{
                      item.name.charAt(0)
                    }}</label>
                  </ion-avatar>
                </ion-col>
                <ion-col>
                  <ion-row class="ion-nowrap ion-align-items-center">
                    <ion-col>
                      <ion-label class="meeting-title"><strong>Say No To</strong> {{ item.name }}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-nowrap ion-align-items-center ion-justify-content-between">
                    <ion-col size="1" *ngFor="let follower of item.followers">
                      <ion-avatar class="avater small" *ngIf="follower.user">
                        <img [src]="follower.user.imageUrl" />
                      </ion-avatar>
                    </ion-col>

                    <ion-col size="1">
                      <ion-avatar class="avater small" *ngIf="item.followers.length > 0">
                        <label>{{ item.followers.length }}</label>
                      </ion-avatar>
                    </ion-col>
                    <ion-col class="fallowing-members" *ngIf="item.followers.length > 0">
                      Members are Following
                    </ion-col>
                    <ion-col class="ion-text-end" *ngIf="userInfo.id !== item.createdBy">
                      <ion-button color="medium" class="ion-no-margin" (click)="follow(item)" *ngIf="item.isFollower">
                        Un Follow
                      </ion-button>
                      <ion-button color="danger" class="ion-no-margin" (click)="follow(item)" *ngIf="!item.isFollower">
                        Follow
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="3" class="ion-text-end" *ngIf="userInfo.id === item.createdBy">
                  <ion-icon name="trash" class="icon-big" (click)="deleteGroupConfirm(item,gInx)"></ion-icon>
                  <ion-icon name="color-filter" class="icon-big"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
