<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Profile
      </ion-text>
    </ion-buttons>
    <ion-row class="profile-settings text-10">
      <ion-icon style="cursor: pointer;" name="md-more" color="light" (click)="presentPopover($event)"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-row class="user-profile" *ngIf="userInfo">
    <ion-col size="auto" class="col-avatar">
      <ion-avatar class="post-avatar">
        <img [src]="userInfo.imageUrl" />
      </ion-avatar>
      <p class="ion-margin-t-5 ion-margin-b-0 ion-text-center white-color">{{ userInfo.typeOfNoer }}</p>
    </ion-col>
    <ion-col class="col-avatar-right">
      <ion-label>
        <ion-text class="text-name">{{ userInfo.displayName }}</ion-text>
      </ion-label>
      <p class="ion-margin-b-0 ion-margin-t-5">
        <ion-text class="post-stars">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="light"></ion-icon>
          <ion-icon name="star" color="light"></ion-icon>
          <ion-icon name="star" color="light"></ion-icon>
          <ion-icon name="star" color="light"></ion-icon>
        </ion-text>
      </p>
      <p class="ion-margin-b-0 ion-margin-t-5 white-color font-12">
        <ion-text class="hel-regular-font ion-padding-r-10">{{ userInfo?.followersCount }} Followers</ion-text>
        <ion-text class="hel-regular-font">{{ userInfo?.followingCount }} Following</ion-text>
      </p>
      <p class="country ion-margin-b-0 ion-margin-t-5 font-14 white-color">{{ userInfo?.city?.name }}</p>
      <div class="ion-margin-t-5" *ngIf="isOtherProfile">
        <ion-button class="ion-margin-l-0" size="small" (click)="following()" *ngIf="!userInfo.following && !userInfo.blocked">Follow</ion-button>
        <ion-button class="ion-margin-l-0" size="small" (click)="unfollowing()" *ngIf="userInfo.following && !userInfo.blocked">Unfollow</ion-button>
        <ion-button class="ion-margin-l-0" color="medium" size="small" (click)="block()" *ngIf="!userInfo.blocked">Block</ion-button>
        <ion-button class="ion-margin-l-0" size="small" (click)="unblock()" *ngIf="userInfo.blocked">Unblock</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-row class="ion-align-items-center" *ngIf="!isOtherProfile">
    <app-agenda-view></app-agenda-view>
  </ion-row>
  <super-tabs *ngIf="showTab">
    <super-tabs-toolbar slot="top" [scrollable]="isOtherProfile">
    
      <super-tab-button *ngIf="isOtherProfile">
        <ion-label>Groups</ion-label>
      </super-tab-button>
      <super-tab-button *ngIf="isOtherProfile">
        <ion-label>Posts</ion-label>
      </super-tab-button>
      <super-tab-button *ngIf="isOtherProfile">
        <ion-label>Meetings</ion-label>
      </super-tab-button>
      <super-tab-button>
        <!-- <ion-icon name="home"></ion-icon> -->
        <ion-label>Following</ion-label>
      </super-tab-button>
      <super-tab-button>
        <!-- <ion-icon name="home"></ion-icon> -->
        <ion-label>Followers</ion-label>
      </super-tab-button>
      <super-tab-button *ngIf="!isOtherProfile">
        <ion-label>Blocked</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>

      <super-tab *ngIf="isOtherProfile">
        <app-group-list type="mygroups" [userId]="profileId"></app-group-list>
      </super-tab>
      <super-tab *ngIf="isOtherProfile">
        <app-post-list type="my-posts" [userId]="profileId"></app-post-list>
      </super-tab>
      <super-tab *ngIf="isOtherProfile">
        <app-meeting-list type="my-meeting" [userId]="profileId"></app-meeting-list>
      </super-tab>
      <super-tab>
        <app-user-list #userFollowing [userId]="profileId" type="following" emptyMsg="No following"></app-user-list>
      </super-tab>
      <super-tab>
        <app-user-list #userFollowers [userId]="profileId" type="followers" emptyMsg="No followers"></app-user-list>
      </super-tab>
      <super-tab *ngIf="!isOtherProfile">
        <app-user-list #userBlocked [userId]="profileId" type="blocked" emptyMsg="No blocked users"></app-user-list>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
<!-- <app-user-list style="height: 100%;" type="following" [userId]="profileId"></app-user-list> -->
