<div class="p-contain">
  <div class="row m-0">
    <!-- <div class="col-12 col-md-6 p-1 shadow">
      <p-chart type="bar" [data]="barData"></p-chart>
    </div> -->
    <div class="col-12 col-md-6 mt-3 mt-md-0 p-1 shadow">
      <p-chart type="pie" [data]="cityWiseUsersData" [options]="cityWiseUsersOptions"></p-chart>
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0 p-1 shadow">
      <p-chart type="pie" [data]="cityWiseMeetingsData" [options]="cityWiseMeetingsOptions"></p-chart>
    </div>
  </div>
  <div class="col-12 col-md-12 mt-3 mt-md-0 p-1 shadow">
    <p-chart type="pie" [data]="categoryWiseReportData" [height]="300" [options]="categoryWiseReportOptions"></p-chart>
  </div>
  
</div>
