{
  "DB": {
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "Username",
    "password": "password",
    "database": "nah_new",
    "entities": [
      "src/**/**.entity{.ts,.js}"
    ],
    "synchronize": true
  },
  "SERVER_PORT":3005,
  "SECRET": "the-app",
  "SERVERBASE_PATH":"http://localhost:3000/api/",
   "UPLOAD_PATH":"./uploads",
   "S3":{
     "AWS_ACCESS_KEY_ID":"AKIAI5WU63MM4LEL74ZQ",
     "AWS_SECRET_ACCESS_KEY":"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",
     "AWS_S3_BUCKET_NAME":"theappin"
   },
    "SMTP":{
    "host": "smtp.sendgrid.net",
    "port": 465,
    "ignoreTLS": true,
    "secure": true,
    "auth": {
      "user": "apikey",
      "pass": "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"
    }
   }
}