{
  "db": {
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "root",
    "password": "trk@2012",
    "database": "nah",
    "entities": [
      "src/**/**.entity{.ts,.js}"
    ],
    "synchronize": true
  },
  "secret": "the-app",
  "serverBasePath":"http://nah.theapp.in/api/"
}