<div class="p-contain">
    <!-- <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-danger" (click)="onAdd(addMeeting)">Add</button>
    </div> -->
    <div class="row m-0 filters-widget">
      <div class="col-12 col-md-4 mb-1 p-0 pr-md-3">
        <input type="text" pInputText placeholder="Search Meeting Name">
      </div>
      <div class="col-12 col-md-4 mb-1 p-0 pr-md-3">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <!-- <div class="col-12 col-md-4 mb-1 p-0 pr-md-3">
        <p-dropdown [options]="meetingList" [(ngModel)]="selectedCity" placeholder="Select Meeting" optionLabel="name" [showClear]="true"></p-dropdown>
      </div> -->
      <!-- <div class="col-12 col-md-4 mb-1 p-0">
        <input type="text" pInputText placeholder="Search">
      </div> -->
      </div>
  <p-table  [columns]="cols" [value]="meetingList" [responsive]="true" selectionMode="single"  (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr >
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="actions-th">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span class="ui-column-title">{{ col.header }}</span>
          {{ user[col.field] }}
        </td>
        <td>
          <div
            class="actions-dp"
            ngbDropdown
            placement="bottom-right"
            container="body"
          >
            <a class="fa fa-ellipsis-v" ngbDropdownToggle></a>
            <div
              class="actions-dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
            >
              <!-- <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Credit', user)"
                  >Credit Amount</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Debit', user)"
                  >Debit Amount</a
                >
              </li> -->
              <li>
                <a
                  class="dropdown-item"
                  (click)="onUpdate(addMeeting)"
                  >View Meeting</a
                >
              </li>
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr>
          <td>{{user.userId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.userType}}</td>
          <td>{{user.maxProfitMatch}}</td>
          <td>{{user.maxProfitFancy}}</td>
          <td>{{user.agentId}}</td>
          <td>
              <div class="actions-dp" ngbDropdown placement="bottom-right" container="body">
                  <a class='fa fa-ellipsis-v' ngbDropdownToggle></a>
                  <div class="actions-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <li> <a class="dropdown-item" (click)="onCreditAmount(creditAmount)">Credit amount</a></li>
                      <li> <a class="dropdown-item">Debit amount</a></li>
                  </div>
              </div>
          </td>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center" colspan="8">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #addMeeting let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3>Add</h3>
      <button
        type="button"
        class="btn close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true" class="fa fa-times"></span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" ngNativeValidate>
        <formly-form
          [form]="form"
          [model]="model"
          [fields]="fields"
          [options]="options"
        >
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-sm btn-primary mr-1"
              (click)="addAmount()"
            >
              Add
            </button>
          </div>
        </formly-form>
      </form>
    </div>
  </ng-template>
