<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-img class="ion-padding-r-10"
        style="width: 30px;display: inline-block;height: 30px;border-radius: 50%;text-align: center;padding: 3px;margin-right: 5px;"
        src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        About NAH
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding about">
  <ion-row>
    <p style="text-align: center;padding: 14px;">
      Did you ever want to meet another person who shares similarities in dislikes towards something just like you? Well
      now that has been made as easy as just a click away because NAH is here. This is a free platform, exclusively for
      souls like you and yourself.
    </p>
  </ion-row>
  <ion-row>
    <p style="text-align: center;padding: 14px;">
      We strongly believes, an open-minded community on our platform is emphasizing interactions among people of the
      same right to SAYS NO.
    </p>
  </ion-row>
</ion-content>
<ion-footer style="text-align: center;padding:30px;">
  <ion-text class="ion-padding">
    Version 1.0
  </ion-text>
</ion-footer>