<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-title class="ion-no-padding" style="font-size: 16px;">About Nah</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding about">
  <ion-text>
    NAH as a meet up platform for people who shares the same kind of refusal tendency. NAH provides users a platform to
    discuss topics from Kim Jong-Un to ketchup on hot dogs. It's totally free app with some different monetization
    strategies.
  </ion-text>
  <ion-title class="ion-no-padding ion-margin-t-10" style="font-size: 18px;">
    How does this App work ?

  </ion-title>
  <ion-row>
    <ion-col>
      <ion-text>
        NAH is a different platform which helps in gathering people around the world based on them disliking the same thing
        they are pessimists and optimists, but we NAH emphasize the fact about hating stubbing your toe or a crowded subway.
      </ion-text>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>
        It's not about hating groups of people, but to bring the same kind of dislike-minded people together.
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>
        In this app, you can meet with people who refuses or dislike the same thing as you do.
      </ion-text>
    </ion-col>
  </ion-row>


</ion-content>