.match-head-info{
    display: flex;
    // justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
    @media(max-width:640px){
        margin-top: 15px;
    }
}
.match-header{
    .match-header-strip{
        background-color: #2094C7;
        color: #fff;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
                            .match-header-strip-title{
                                display: flex;
                                align-items: center;
                                i{
                                    padding-right:5px;
                                }
                            }
        .btn-primary{
            background-color: #286090;
            border-color: #286090;
            margin-left:5px;
            padding: 0 5px;
            font-size: 12px;
            &:hover{
                background-color: #0f3c64;
                border-color: #0f3c64;
            }
        }
    }
    .match-header-content{
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        .score,.target,.runrate{
            padding: 5px;
            flex: 0 0 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .score{
            border-right: 1px solid #ccc;
        }
        .runrate{
            border-left: 1px solid #ccc;
        }
    }
    .over{
        display: flex;
        padding: 10px;
        ul{
            display: flex;
            li{
                margin-right:3px;
                span{
                    width: 20px;
                    height:20px;
                    border-radius: 50%;
                    background-color:#999999;
                    color:#fff;
                    display: block;
                    text-align: center;
                    line-height: 21px;
                }
            }
        }
    }
    .match-info{
        padding: 5px;
        background-color: #fff;
        .label-info{
            font-weight: bold;
            font-size: 14px;  
            color: #848484;      
            @media(max-width: 640px){
                font-size: 12px;
                font-weight: normal;
            }     
        }
        .label-value{
            font-weight: bold;
            font-size: 14px;   
        }
        .overs-value{
            font-weight: normal;
        }
    }
}
.match-info-block{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    .block-span{
        flex: 1 1 50%;
        display: flex;
        align-items: baseline;
    }
    @media (max-width: 640px){
        align-items:flex-start;
        flex-direction: column;
    }
}
.match-info-block-last{
    display: flex;
    align-items: center;
    .block-span{
        flex: 1 1 50%;
    }
    @media (max-width: 640px){
        align-items:flex-start;
        flex-direction: column;
    }
}
.badges,.btns{
    padding: 10px 0 0;
    .btn{
        margin-right: 5px;
        margin-top: 5px;
    }
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    @media(max-width: 767px) {
        top: -10px;
        right: -15px;
    }
    &:focus{
        box-shadow: none;
    }
    span{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        background: #fff;
        line-height: 21px;
    }
}
.modal-body{
    background-color: #A7D8FD;
    &.modal-lay{
        background-color: #F9C9D4;
    }
    label{
        font-weight: bold;
    }
}
.input-group-text{
    font-size: 18px;
    a{
        color: #fff;
    }
}
.input-group-prepend{
    .input-group-text{
        background-color: #F93737
    }
}
.input-group-append{
    .input-group-text{
        background-color: #AADE12;
    }
}
.black-table{
    overflow: auto;
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            tr{
                th{
                    background-color: #000;
                    color: #fff;
                    padding: 5px;
                    border-right: 1px solid #C0C0C0;
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 5px;
                    border-right: 1px solid #C0C0C0;
                    background-color: #7CC4F7;
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
    }
}
.strip-buttons{
    display: flex;
    align-items: center;
}
