<div class="p-contain ">
  {{ eventDetails$ | async }}
  <div class="ui-g inside-accords">
    <div class="ui-g-12 ui-md-6">
      <div class="match-header">
        <div class="match-header-strip">
          <span class="match-header-strip-title">
            <i class="fa fa-star-o"></i>
            <span> {{ eventDetails.eventTitle }}</span>
          </span>
          <span class="strip-buttons">
            <!-- <button type="button" class="btn btn-sm btn-primary">Bets</button> -->
            <!-- <button
              type="button"
              class="btn btn-sm btn-primary fa fa-times"
            ></button> -->
            <span class="pr-2" *ngIf="user.userType === 'SUPERUSER'">
                <p-inputSwitch (onChange)="eventStatus(eventDetails, eventDetails.enabled)" [(ngModel)]="eventDetails.enabled"></p-inputSwitch>
              </span>
            <!-- <span *ngIf="!eventDetails.enabled"><button (click)="eventStatus(eventDetails, true)">Enable</button></span>
            <span *ngIf="eventDetails.enabled"><button
                (click)="eventStatus(eventDetails, false)">Disable</button></span> -->
            <button (click)="refreshEventDetails()" type="button" class="btn btn-sm btn-primary fa fa-refresh"></button>
          </span>
        </div>

        <div class="match-info" [ngClass]="{'disabled': !eventDetails.enabled}">
          <div *ngIf="eventDetails.matchStatus" class="match-info-block">
            <span class="block-span">
              <span class="label-info">{{ eventDetails.matchStatus.homeTeam.teamName }}: </span>
              <!-- <span class="label-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length === 1">{{ eventDetails.matchStatus.homeTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[0]['wickets'] }}
              </span> -->
              <span class="label-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length > 1">{{ eventDetails.matchStatus.homeTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[0]['wickets'] }}
                &&
                {{ eventDetails.matchStatus.homeTeam.innings[1]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[1]['wickets'] }}
              </span>
            </span>           
            <span class="block-span">
              <!-- <span class="label-info">Overs: </span> -->
              <span class="label-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length === 1">{{ eventDetails.matchStatus.homeTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[0]['wickets'] }} ({{ eventDetails.matchStatus.homeTeam.innings[0]['overs'] }})
              </span>
              <span class="label-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length > 1">{{ eventDetails.matchStatus.homeTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[0]['wickets'] }} ({{ eventDetails.matchStatus.homeTeam.innings[0]['overs'] }}) &
                {{ eventDetails.matchStatus.homeTeam.innings[1]['runs'] }}/{{ eventDetails.matchStatus.homeTeam.innings[1]['wickets'] }} ({{ eventDetails.matchStatus.homeTeam.innings[1]['overs'] }})
              </span>
              <!-- <span class="overs-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length === 1">({{ eventDetails.matchStatus.homeTeam.innings[0]['overs'] }})</span>
              <span class="overs-value"
                *ngIf="eventDetails.matchStatus.homeTeam.innings.length > 1">({{ eventDetails.matchStatus.homeTeam.innings[0]['overs'] }})
                &&

                ({{ eventDetails.matchStatus.homeTeam.innings[1]['overs'] }})</span> -->
            </span>
          </div>
          <div *ngIf="eventDetails.matchStatus" class="match-info-block">
            <span class="block-span">
              <span class="label-info">{{ eventDetails.matchStatus.awayTeam.teamName }}: </span>
            </span>
            
            <span class="block-span">

                <span class="label-value"
                *ngIf="eventDetails.matchStatus.awayTeam.innings && eventDetails.matchStatus.awayTeam.innings.length === 1">{{ eventDetails.matchStatus.awayTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.awayTeam.innings[0]['wickets'] }} ({{ eventDetails.matchStatus.awayTeam.innings[0]['overs'] }})
              </span>
              <span class="label-value"
                *ngIf="eventDetails.matchStatus.awayTeam.innings && eventDetails.matchStatus.awayTeam.innings.length > 1">{{ eventDetails.matchStatus.awayTeam.innings[0]['runs'] }}/{{ eventDetails.matchStatus.awayTeam.innings[0]['wickets'] }} ({{ eventDetails.matchStatus.awayTeam.innings[0]['overs'] }})
                &
                {{ eventDetails.matchStatus.awayTeam.innings[1]['runs'] }}/{{ eventDetails.matchStatus.awayTeam.innings[1]['wickets'] }} ({{ eventDetails.matchStatus.awayTeam.innings[1]['overs'] }})
              </span>

            </span>
          </div>
          <div *ngIf="eventDetails.matchStatus">
            <span class="block-span">
              <span class="label-info">Status: </span>
              <span class="label-value"> {{ eventDetails.matchStatus.status }}</span>
            </span>
            <span class="block-span">
              <div *ngIf="eventDetails.matchStatus && eventDetails.matchStatus.currentDay">
                <span class="label-info">Current Day:</span>
                <span class="label-value"> {{ eventDetails.matchStatus.currentDay }}</span>
              </div>
            </span>
          </div>
          

          <!-- <div class="over">
                      <span class="pr-1">Ov(L.SIX.B):</span>
                      <ul>
                          <li *ngFor="let ball of balls">
                              <span [ngClass]="{'bg-success': ball.ballValue == '1'}">{{ball.ballValue}}</span>
                          </li>
                      </ul>
                  </div> -->
        </div>
      </div>
      <p-accordion [ngClass]="{'disabled': !eventDetails.enabled}">
        <p-accordionTab styleClass="accord-blue" header="Match Bets" [selected]="true">
          <ng-container *ngFor="let bet of matchBets">
            <div class="match-head-info">
              <span class="pr-2" *ngIf="user.userType === 'SUPERUSER'">
                <p-inputSwitch (onChange)="betStatus(bet, bet.enabled)" [(ngModel)]="bet.enabled"></p-inputSwitch>
              </span>
              <!-- <span *ngIf="!bet.enabled"><button (click)="betStatus(bet, true)">Enable</button></span>
              <span *ngIf="bet.enabled"><button (click)="betStatus(bet, false)">Disable</button></span> -->
              <span>
                <!-- Going In-play -->
                <b>{{ bet.description }}</b></span>
              <!-- <span>00</span>
                                <span>18/07/2019 10:45 PM</span> -->
            </div>
            <p-table [responsive]="true" styleClass="custom-table mb-2" [value]="bet.betOptions"
              [ngClass]="{'disabled': !bet.enabled}">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="3"></th>
                  <th class="bg-info text-white font-weight-bold">BACK</th>
                  <th class="bg-danger text-white font-weight-bold">LAY</th>
                  <!-- <th></th> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-betOption>
                <tr>
                  <td colspan="3">
                    <p>{{ betOption.description }}</p>
                    <!-- <span class="w-50 d-inline-block text-success">{{score.innings1}}</span>
                                            <span class="w-50 d-inline-block">{{score.innings2}}</span> -->
                  </td>
                  <!-- <td>
                                            <p>{{score.score1}}</p>
                                            <p>{{score.score2}}</p>
                                        </td>
                                        <td>
                                            <p>{{score.score3}}</p>
                                            <p>{{score.score4}}</p>
                                        </td> -->
                  <td class="bg-info" (click)="onBack(back, bet, betOption)">
                    <p>{{ betOption.odds.back }}</p>
                    <!-- <p>{{score.back2}}</p> -->
                  </td>
                  <td class="bg-danger" (click)="onLay(lay, bet, betOption)">
                    <p>{{ betOption.odds.lay }}</p>
                    <!-- <p>{{score.lay2}}</p> -->
                  </td>
                  <!-- <td>
                                            <p>{{score.total1}}</p>
                                            <p>{{score.total2}}</p>
                                        </td> -->
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
        </p-accordionTab>

        <p-accordionTab styleClass="accord-blue" header="Fancy Bets" [selected]="true">
          <ng-container *ngFor="let bet of fancyBets">
            <div class="match-head-info">
              <span class="pr-2" *ngIf="user.userType === 'SUPERUSER'">
                <p-inputSwitch (onChange)="betStatus(bet, bet.enabled)" [(ngModel)]="bet.enabled"></p-inputSwitch>
              </span>
              <!-- <span *ngIf="!bet.enabled"><button (click)="betStatus(bet, true)">Enable</button></span>
              <span *ngIf="bet.enabled"><button (click)="betStatus(bet, false)">Disable</button></span> -->
              <span>
                <!-- Going In-play -->
                <b>{{ bet.description }}</b></span>
              <!-- <span>00</span>
                                        <span>18/07/2019 10:45 PM</span> -->
            </div>
            <p-table [responsive]="true" styleClass="custom-table mb-2" [value]="bet.betOptions"
              [ngClass]="{'disabled': !bet.enabled}">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="3"></th>
                  <th class="bg-info text-white font-weight-bold">BACK</th>
                  <th class="bg-danger text-white font-weight-bold">LAY</th>
                  <!-- <th></th> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-betOption>
                <tr>
                  <td colspan="3">
                    <p>{{ betOption.description }}</p>
                    <!-- <span class="w-50 d-inline-block text-success">{{score.innings1}}</span>
                                                    <span class="w-50 d-inline-block">{{score.innings2}}</span> -->
                  </td>
                  <!-- <td>
                                                    <p>{{score.score1}}</p>
                                                    <p>{{score.score2}}</p>
                                                </td>
                                                <td>
                                                    <p>{{score.score3}}</p>
                                                    <p>{{score.score4}}</p>
                                                </td> -->
                  <td class="bg-info" (click)="onBack(back, bet, betOption)">
                    <p>{{ betOption.odds.back }}</p>
                    <!-- <p>{{score.back2}}</p> -->
                  </td>
                  <td class="bg-danger" (click)="onLay(lay, bet, betOption)">
                    <p>{{ betOption.odds.lay }}</p>
                    <!-- <p>{{score.lay2}}</p> -->
                  </td>
                  <!-- <td>
                                                    <p>{{score.total1}}</p>
                                                    <p>{{score.total2}}</p>
                                                </td> -->
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
        </p-accordionTab>
      </p-accordion>

      <!--            
            <p-table [responsive]="true" styleClass="custom-table mt-3" [value]="teamDetails">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th class="bg-info text-white font-weight-bold">NO[L]</th>
                        <th class="bg-danger text-white font-weight-bold">Yes[B]</th>
                        <th style="width: 100px;"></th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-score>
                    <tr>
                        <td>
                            <p>{{score.teamInfo}}</p>
                            <button class="btn btn-sm btn-danger">Back</button>
                        </td>
                        <td>
                            <p>{{score.no1}}</p>
                            <p>{{score.no2}}</p>
                        </td>
                        <td>
                            <p>{{score.yes1}}</p>
                            <p>{{score.yes2}}</p>
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table> -->
    </div>
    <div class="ui-g-12 ui-md-6">
      <div class="match-header">
        <div class="match-header-strip">
          <span class="match-header-strip-title">
            <span>Bet Slip</span>
          </span>
          <!-- <span class="strip-buttons">
                        <button type="button" class="btn btn-sm btn-primary">Edit Stake</button>
                    </span> -->
        </div>
      </div>
      <p-accordion styleClass="custom-accords-right">
        <!-- <p-accordionTab styleClass="accord-blue" header="Live Match" [selected]="true">
                </p-accordionTab>
                <p-accordionTab header="Live TV">
                </p-accordionTab> 
                <p-accordionTab styleClass="accord-red" header="UnMatch Bets ()"> 

                </p-accordionTab> -->
        <p-accordionTab header="Match Bets ({{ matchBetsHistory.length }})">
          <div class="black-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Runner</th>
                  <th>Bet type</th>
                  <th>Odds</th>
                  <th>Stack</th>
                  <th>P&L</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bet of matchBetsHistory; let inx = index">
                  <td>{{ inx + 1 }}</td>
                  <td>{{ bet.betDescription }}</td>
                  <td>{{ bet.betType }}</td>
                  <td>{{ bet.odds }}</td>
                  <td>{{ bet.stake }}</td>
                  <td>{{ bet.p_l }}</td>
                  <td>{{ bet.id }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Fancy Bets ({{ fancyBetsHistory.length }})">
          <div class="black-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Runner</th>
                  <th>Bet type</th>
                  <th>Odds</th>
                  <th>Stack</th>
                  <th>P&L</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bet of fancyBetsHistory">
                  <td>1</td>
                  <td>{{ bet.betDescription }}</td>
                  <td>{{ bet.betType }}</td>
                  <td>{{ bet.odds }}</td>
                  <td>{{ bet.stake }}</td>
                  <td>{{ bet.p_l }}</td>
                  <td>{{ bet.id }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>

<ng-template #back let-c="close" let-d="dismiss">
  <div class="modal-body">
    <!-- <button type="button" class="btn close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    <div class="modal-widget">
      <div class="modal-match-info row">
        <div class="col">
          <label>Back (Bet For)</label>
          <div>-</div>
        </div>
        <div class="col">
          <label>Profit</label>
          <div class="text-success">0</div>
        </div>
        <div class="col">
          <label>Loss</label>
          <div class="text-danger">0</div>
        </div>
        <div class="col">
          <label>{{ currentBetOption.description || '' }}</label>
          <div></div>
        </div>
      </div>
      <div class="odd-stake row">
        <div class="col">
          <label>Odd</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><a class="fa fa-minus"></a></div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" [value]="currentBetOption.odds.back"
              readonly />
            <div class="input-group-append">
              <div class="input-group-text"><a class="fa fa-plus"></a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <label>Stake</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" (click)="stakeValue = stakeValue - 1">
                <a class="fa fa-minus"></a>
              </div>
            </div>
            <input type="number" min="0" class="form-control" [(ngModel)]="stakeValue" id="inlineFormInputGroup" />
            <div class="input-group-append">
              <div class="input-group-text" (click)="stakeValue = stakeValue + 1">
                <a class="fa fa-plus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="badges">
        <button (click)="stakeValue = 10" class="btn btn-sm btn-success">
          10
        </button>
        <button (click)="stakeValue = 20" class="btn btn-sm btn-success">
          20
        </button>
        <button (click)="stakeValue = 50" class="btn btn-sm btn-success">
          50
        </button>
        <button (click)="stakeValue = 100" class="btn btn-sm btn-success">
          100
        </button>
        <button (click)="stakeValue = 200" class="btn btn-sm btn-success">
          200
        </button>
        <button (click)="stakeValue = 500" class="btn btn-sm btn-success">
          500
        </button>
        <button (click)="stakeValue = 1000" class="btn btn-sm btn-success">
          1k
        </button>
        <button (click)="stakeValue = 0" class="btn btn-sm btn-success">
          Clear
        </button>
      </div>
      <div class="btns">
        <button class="btn btn-sm btn-danger" (click)="d('Cross click')">
          Clear All Selection
        </button>
        <button (click)="placeBet('Back')" min="0" class="btn btn-sm btn-success"
          [disabled]="stakeValue > 0 ? false : true">
          Place Bet
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #lay let-c="close" let-d="dismiss">
  <div class="modal-body modal-lay">
    <!-- <button type="button" class="btn close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    <div class="modal-widget">
      <div class="modal-match-info row">
        <div class="col">
          <label>Lay (Bet For)</label>
          <div>-</div>
        </div>
        <div class="col">
          <label>Profit</label>
          <div class="text-success">0</div>
        </div>
        <div class="col">
          <label>Loss</label>
          <div class="text-danger">0</div>
        </div>
        <div class="col">
          <label>{{ currentBetOption.description || '' }}</label>
          <div></div>
        </div>
      </div>
      <div class="odd-stake row">
        <div class="col">
          <label>Odd</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><a class="fa fa-minus"></a></div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" [value]="currentBetOption.odds.lay"
              readonly />
            <div class="input-group-append">
              <div class="input-group-text"><a class="fa fa-plus"></a></div>
            </div>
          </div>
        </div>
        <div class="col">
          <label>Stake</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" (click)="stakeValue = stakeValue - 1">
                <a class="fa fa-minus"></a>
              </div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" [(ngModel)]="stakeValue" value="1" />
            <div class="input-group-append">
              <div class="input-group-text" (click)="stakeValue = stakeValue + 1">
                <a class="fa fa-plus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="badges">
        <button (click)="stakeValue = 10" class="btn btn-sm btn-success">
          10
        </button>
        <button (click)="stakeValue = 20" class="btn btn-sm btn-success">
          20
        </button>
        <button (click)="stakeValue = 50" class="btn btn-sm btn-success">
          50
        </button>
        <button (click)="stakeValue = 100" class="btn btn-sm btn-success">
          100
        </button>
        <button (click)="stakeValue = 200" class="btn btn-sm btn-success">
          200
        </button>
        <button (click)="stakeValue = 500" class="btn btn-sm btn-success">
          500
        </button>
        <button (click)="stakeValue = 1000" class="btn btn-sm btn-success">
          1k
        </button>
        <button (click)="stakeValue = 0" class="btn btn-sm btn-success">
          Clear
        </button>
      </div>
      <div class="btns">
        <button class="btn btn-sm btn-danger" (click)="d('Cross click')">
          Clear All Selection
        </button>
        <button (click)="placeBet('Lay')" class="btn btn-sm btn-success" [disabled]="stakeValue > 0 ? false : true">
          Place Bet
        </button>
      </div>
    </div>
  </div>
</ng-template>