<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="/dashboard/posts"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        {{headerTitle}}
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <div class="youtube-helptext">
      <div class="col-12">
        <b>To copy YouTube videos, you'll need to know just 3 steps:</b>
      </div>
      <div class="col-12" style="margin:15px">
        <ol class="ion-no-margin ion-no-padding">
          <li>Navigate to <a (click)="openWeb()" target="_system">https://www.youtube.com</a></li>
          <li>
            Upload your video to YouTube Chanel (or) copy the link/URL for the video you want to insert from existing youtube video.
          </li>
          <li>
            Return to Nah app and Paste the link/URL. Then click "Insert”.
          </li>
        </ol>
      </div>
    </div>
    <formly-form [form]="form" [fields]="fields2" [model]="model"></formly-form>
  </form>
</ion-content>
<ion-footer>
  <!-- <ion-row class="ion-justify-content-center">
    <h3 class="red-color font-24">A new way to hate...!</h3>
  </ion-row> -->
  <ion-toolbar class="ion-text-center">
    <ion-button color="danger" *ngIf="model.isPublished !==1" (click)="submit(model, false)" [disabled]="form.valid ? false : true">
      Save as draft
    </ion-button>
    <ion-button color="danger" (click)="submit(model, true)" [disabled]="form.valid ? false : true">
      Save & Publish
    </ion-button>
    <!-- <a [routerLink]="['/dashboard/posts']" ></a> -->
    <!-- <ion-button color="light" (click)="signInWithGoogleTest()">
           <ion-img class="ion-padding-r-10" style="width:30px;" src="assets/images/google.png"></ion-img>
      Continu without Google Test
    </ion-button> -->
  </ion-toolbar>
</ion-footer>
