<ion-header class="hearder">
  <ion-toolbar class="space-between-center">
    <!-- <ion-icon class="custom-google"></ion-icon>  -->

    <ion-buttons slot="start" class="white-color">
      <ion-img class="ion-padding-r-10 ion-margin-l-10"
        style="width: 30px;display: inline-block;height: 30px;border-radius: 50%;text-align: center;padding: 3px;margin-right: 5px;"
        src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        what are you upto !
      </ion-text>
    </ion-buttons>
    <ion-avatar class="image-avater ion-activatable" (click)="navProfile()">
      <ion-img [src]="googlePic"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-fab class="add-btn" vertical="end" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" [routerLink]="['/meeting/create']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs class="custom-tabs">
  <ion-tab-bar slot="top">
    <ion-tab-button tab="type/all" (click)="activeTab='type/all'" [ngClass]="{'active': activeTab=='type/all'}">
      <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-all-meetings"></ion-icon>
      </ion-avatar>
      <ion-label>All Meeting</ion-label>
      <!-- <ion-badge></ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="type/my-meeting" (click)="activeTab='type/my-meeting'" [ngClass]="{'active': activeTab=='type/my-meeting'}">
      <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-created-by-me" ></ion-icon>
      </ion-avatar>
      <ion-label>My Meetings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="type/upcoming" (click)="activeTab='type/upcoming'" [ngClass]="{'active': activeTab=='type/upcoming'}">
      <ion-avatar class="avatar ion-align-items-center">
        <ion-icon class="ion-align-items-center custom-upcoming" ></ion-icon>
      </ion-avatar>
      <ion-label>Future Meetings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>