<ion-header class="hearder">
  <ion-toolbar class="space-between-center">
    <!-- <ion-icon class="custom-google"></ion-icon>  -->
    <!-- <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
      <ion-img class="ion-padding-r-10 ion-margin-l-10" style="width:30px;float:left;" src="assets/images/logo.png"></ion-img>
      Dashboard
    </ion-text> -->
    <ion-buttons slot="start" class="white-color">
      <ion-img class="ion-padding-r-10 ion-margin-l-10" style="width:30px;display: inline-block;"
        src="assets/images/logo.png"></ion-img>
      Dashboard
    </ion-buttons>
    <ion-avatar class="image-avater ion-activatable" (click)="navProfile()">
      <img [src]="googlePic" />
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-fab class="add-btn" vertical="end" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" [routerLink]="['/meeting/create']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-row class="ion-padding-t-10">
  <ion-col class="ion-text-center align-center ion-activatable" (click)="meetingClick('all')">
    <ion-avatar class="avatar ion-align-items-center">
      <ion-icon name="people"></ion-icon>
    </ion-avatar>
    <ion-label class="ion-padding-t-5">All Meetings</ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-col>
  <ion-col class="ion-text-center align-center ion-activatable" (click)="meetingClick('my-meeting')">
    <ion-avatar class="avatar ion-align-items-center">
      <ion-icon class="ion-align-items-center" name="people"></ion-icon>
    </ion-avatar>
    <ion-label class="ion-padding-t-5">Created by me</ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-col>
  <ion-col class="ion-text-center align-center ion-activatable" (click)="meetingClick('upcoming')">
    <ion-avatar class="avatar ion-align-items-center">
      <ion-icon name="people"></ion-icon>
    </ion-avatar>
    <ion-label class="ion-padding-t-5">Upcoming</ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-col>
</ion-row>
<!-- <ion-item-divider>
  </ion-item-divider> -->
<ion-label class="ion-padding-t-10 ion-padding-l-20 ion-margin-t-10 d-block border-top">
  Upcoming Meetings
</ion-label>
<ion-content>
  <app-meeting-list *ngIf="showList"></app-meeting-list>
</ion-content>