<ion-header>
  <ion-toolbar>
    <ion-title>nahtifications</ion-title>
  </ion-toolbar>
</ion-header>

<app-user-notifications></app-user-notifications>

<!-- <ion-content>
  <ion-row class="notification-list">
    <ion-col size="auto" class="col-avatar">
      <ion-avatar class="notification-avatar">
        <img src="../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>
    <ion-col class="notification-right">
      <p class="text-name">Sainath Added new photo</p>
      <ion-text>9 hours ago</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="notification-list">
    <ion-col size="auto" class="col-avatar">
      <ion-avatar class="notification-avatar">
        <img src="../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>
    <ion-col class="notification-right">
      <p class="text-name">Ravi Posted new Video</p>
      <ion-text>one day ago</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="notification-list">
    <ion-col size="auto" class="col-avatar">
      <ion-avatar class="notification-avatar">
        <img src="../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>
    <ion-col class="notification-right">
      <p class="text-name">Shankar Commented on your post</p>
      <ion-text>12 hours ago</ion-text>
    </ion-col>
  </ion-row>
</ion-content> -->
