/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/modal";
@import "~ngx-toastr/toastr-bs4-alert";
// Side Menu
$toggle-icon-padding: 14px 0px 13px;
$toggle-icon-bg: #888888;
$toggle-icon-color: #5a738e;
$toggle-icon-color-hover: #5a738e;
$sideMenu-width: 230px;
$sideMenuIcon-width: 0px;
$sideMenuIcon-height: 40px;
$sideMenuIcon-font-size: 18px;
$sideMenu-bg: #f7f7f7;
$subMenu-bg: #fff;
$subMenu-textColor: #000;
$navitem-border: #d8d8d8;

//Colors
$main-color: #72848c;
$body-color: #eff3f6; //#f6f6f6;
$primaryLight: #28b2d8; //'#003fc2'
$primary: #e01e26; // #10b1dc; '#003fc2'
$primaryHover: #9c070c; // #068eb4; '#003fc2'
$secondary: #f1a004;
$ternary: #026084;
$modal-header: #026084;
$ternaryLight: #20b892;
$secondaryLight: #fabb42;
$black: #000000;

// Font size
$fontSizeXS: 9px;
$fontSizeSmall: 12px;
$fontSizeNormal: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeXL: 24px;
$fontSize26: 26px;
$fontSizeXXL: 30px;
$fontSizeXXXL: 60px;
$fontSize18: 18px;
$fontSize21: 21px;
$fontSize32: 32px;
$fontSize40: 40px;
$fontWeightUltraLight: "200";
$fontWeightLight: "300";
$fontWeightRegular: "400";
$fontWeightMedium: "500";
$fontWeightBold: "700";

//Panel styles
$panelHeader: #f4f8fb;
$panelFooter: #f0f0f0;
$panelFooter2: #f6f6f6;

//Paddings
$padding0: 0px;
$padding5: 5px;
$padding7: 7px;
$padding8: 8px;
$padding10: 10px;
$padding13: 13px;
$padding15: 15px;
$padding20: 20px;
$padding25: 25px;
$padding30: 30px;
$padding55: 55px;

//Margins
$margin0: 0px;
$margin2: 2px;
$margin5: 5px;
$margin7: 7px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

//border
$borderNone: none;
$border-color: #e6e9ee;
$textfield-border: #dee7eb;
$textfield-border2: #c2c2c2;
$tableFilter-border: #d5d5d5;

//border-radius
$borderRadius: 5px;
$br5: 5px;

// Colors
$colorDefault: #72848c;
$colorDefault2: #959595;

//Icon Colors
$iconColor1: #b2b2b2;

//Material Tabs
$matTabsBg: #f0f0f0;
$lightMatTabsBg: #fbfbfb;

//Widths
$w-25: 25px;
$w-30: 30px;
$w-40: 40px;
$w-50: 50px;
$w-100: 100px;

//Heights
$h-50: 50px;
$h-80: 80px;
$h-0: 0px;

//Line Heights
$lh-50: 50px;
$lh-65: 65px;
$lh-0: 0px;

//Font weights
$bold: bold;
$semi-bold: 600;
body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 1.471;
  margin: 0;
  background: #fff;
}
body .ui-widget{
  font-size: 12px !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.btn{
  cursor: pointer;
}
.carousel-inner {
  .carousel-item {
    img {
      width: 100%;
      height: 350px;
    }
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255,0.5);
  z-index: 1099;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  img{
    width: 30px;
  }
}

.close:focus {
  outline: none;
}
// .left-menu{
//     transform: translate(-100%);
// }
.show-menu {
  .left-menu {
    // transform: translate(0%) !important;
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
    transition: all 0.3s;
    @media (max-width: 991px) {
      transform: translate(-100%) !important;
      .logo{
        padding: 0 !important;
        img{
          width: 100% !important;
        }
      }
    }
  }
  .main {
    padding-left: 230px !important;
    @media (max-width: 991px) {
      padding-left: 0px !important;
    }
  }
}
.main {
  @media (max-width: 991px) {
    padding-left: 0px !important;
  }
}
.breadcrumb {
  h2 {
    padding: 10px 0px;
    display: flex;
    align-items: center;
  }
}
.p-contain {
  padding: $padding20;
  @media (max-width: 991px) {
    padding: $padding10;
  }
}
.table-widget {
  td {
    a {
      padding: 0px 10px;
    }
  }
}
.add-btn {
  text-align: right;
  padding-bottom: 10px;
}
.form-widget {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #ccc;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}
.form-login {
  width: 280px;
  h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .login-logo {
    width: 200px;
  }
  .ui-g {
    flex-direction: column;
    margin-bottom: 20px;
    label {
      margin: 0;
    }
  }
  .ui-inputtext {
    width: 100%;
  }
  .ui-chkbox-label {
    font-weight: bold;
  }
  .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #e51c25;
    background-color: #e51c25;
  }
  .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
    border-color: #e51c25;
    background-color: #e51c25;
  }
  .ui-inputgroup {
    .ui-inputgroup-addon {
      border-right: 0px;
    }
    &:focus {
      .ui-inputgroup-addon {
        color: #f00;
      }
    }
  }
  .download-apk-btn:hover {
    text-decoration: underline;
  }
  // .ui-chkbox .ui-chkbox-box {
  //   width: 15px !important;
  //   height: 15px !important;
  // }
  // .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  //   font-size: 13px !important;
  // }
}
body .ui-button.ui-state-default.ui-button-success,
body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #27743a;
  border: 1px solid #27743a;
}
body .ui-button.ui-state-default.ui-button-success:enabled:focus,
body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:focus {
  box-shadow: none;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger {
  color: #e9edef;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88);
}
/* layout menu styles */
.show-menu {
  header {
    padding-left: 230px !important;
    transition: all 0.3s;
    @media (max-width: 991px) {
      padding-left: 0px !important;
    }
  }
  .left-menu {
    width: 230px !important;
    transition: all 0.3s;
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
    @media (max-width: 991px) {
      width: 0px !important;
    }
    // .logo {
    //   img {
    //   }
    // }
  }
  .side-menu ul.nav li.nav-item a.nav-link i {
    position: absolute !important;
    width: 40px !important;
  }
  .side-menu ul.nav li.nav-item a.nav-link .nav-link-text {
    margin-left: 40px !important;
  }
}
.hide-menu {
  .side-menu ul.nav li.nav-item a.nav-link i {
    width: 40px !important;
    position: relative !important;
  }
  .side-menu ul.nav li.nav-item a.nav-link {
    height: auto !important;
  }
  .side-menu ul.nav li.nav-item a.nav-link .nav-link-text {
    padding: 0px 5px !important;
    line-height: initial;
    text-align: center;
    font-size: 12px;
  }
  .dp-arrow {
    top: 10px !important;
  }
  .nav-dropdown-items {
    .nav-item {
      height: 30px !important;
      .nav-link {
        i {
          display: none;
        }
        span {
          padding: 5px !important;
          overflow: visible !important;
          font-size: 11px;
          line-height: initial;
        }
      }
    }
  }
}
.main {
  padding-left: 70px;
}
/* layout menu styles ends*/

/* tabs styles */
.custom-accord-tabs {
  padding: 0 !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
  background: #3b5998;
  padding: 5px 20px !important;
  color: #fff;
  font-size: 13px;
}
.ui-tabview-selected a {
  background: #0c2354 !important;
}
body .ui-corner-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ui-tabview-panels {
  padding: 0 !important;
  border: 0px !important;
}
body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #fff !important;
}
.ui-accordion-header {
  a {
    font-size: 13px;
    font-weight: normal !important;
    margin-top: 5px;
    padding: 5px !important;
    background-color: #167aa5 !important;
    color: #fff !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.custom-table.ui-table .ui-table-tbody >tr{
  @media(max-width:640px){
    display: flex;
    align-items: center;
  }
  >td {
    text-align: center;
    word-break: break-all;
    @media(max-width:640px){
      border: 1px solid #fff !important;

    }
} 
}
.custom-table.ui-table .ui-table-tbody > tr > td p {
  margin: 0;
}
.custom-table.ui-table .ui-table-thead > tr > th.bg-info {
  background-color: #329ae7 !important;
  width: 100px;
}
.custom-table.ui-table .ui-table-thead > tr > th.bg-danger {
  background-color: #f77791 !important;
  width: 100px;
}
.custom-table.ui-table .ui-table-tbody > tr > td.bg-info {
  background-color: #7cc4f7 !important;
  cursor: pointer;
}
.custom-table.ui-table .ui-table-tbody > tr > td.bg-danger {
  background-color: #fca4b7 !important;
  cursor: pointer;
}
.disabled .custom-table{
  pointer-events: none;
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
  }
}
.inside-accords.ui-accordion {
  p-accordiontab {
    > .ui-accordion-header {
      > a {
        font-size: 13px;
        font-weight: normal !important;
        background-color: transparent !important;
        color: #000 !important;
        display: flex;
        padding: 0 !important;
        align-items: center;
        border: 0px !important;
        border-bottom: 1px solid #ccc !important;
        p-header {
          display: flex;
          justify-content: space-between;
          flex: auto;
          align-items: center;
          @media (max-width: 991px) {
            flex-direction: column;
            padding: 5px 0;
          }
        }
        .ui-accordion-toggle-icon {
          color: #000 !important;
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
      .records {
        span {
          padding: 5px 15px;
          border-radius: 3px;
          margin: 2px 2px;
          display: inline-block;
          font-weight: bold;
          &.bg-info {
            background-color: #7cc4f7 !important;
          }
          &.bg-danger {
            background-color: #fca4b7 !important;
          }
        }
      }
    }
  }
}
.custom-accords-right {
  .ui-accordion-header {
    a {
      display: flex;
      justify-content: space-between;
      padding: 5px !important;
      font-size: 13px;
      background: #281f3e !important;
      color: #fff !important;
      .ui-accordion-toggle-icon {
        order: 2;
        color: #fff !important;
      }
    }
  }
  p-accordiontab[styleClass="accord-red"] {
    .ui-accordion-header {
      a {
        background: #d12b34 !important;
      }
    }
  }
}
.inside-accords.ui-accordion > .ui-accordion-header > a .ui-accordion-toggle-icon {
  color: #000 !important;
}
.form-group label > span{
  color: #f00;
}
.form-control::placeholder{
  font-size: 12px;
}
.form-control{
  font-size: 12px;
}
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #9c070c;
  border-color: #9c070c;
}
td{
  .dropdown{
    text-align: center;
    .fa-ellipsis-v.dropdown-toggle{
      font-size: 18px;
      padding: 2px 10px;
      color: #e01e26;
      &:after{
        display: none;
      }
    }
    .dropdown-menu{
      right:0;
      li{
        a{
          font-size: 12px;
        }
      }
    }
  }
}
.actions-dropdown-menu{
  right:0;
  li{
    a{
      font-size: 12px;
    }
  }
}
.custom-form-group{
  .custom-label{
    display: flex;
    align-items: center;
  }
}
.card-50{
  max-width: 500px;
  margin: 0 auto;
}
.modal-header{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  h3,h4{
    margin: 0;
  }
  .close{
    outline: none;
    &:focus{
      box-shadow: none;
    }
  }
}
body .ui-table .ui-table-thead > tr > th {
  text-align: left;
  color: #fff;
  background-color: #e01e26;
}
.actions-th{
  width: 80px;
  text-align: center;
}
.description{
  color: #008fda;
}
@media(max-width: 40em){
  theapp-user-list{
    .ui-table-responsive .ui-table-tbody>tr{
      box-shadow: 0px 0px 6px #999;
      position: relative;
      // display: block;
      display: grid;
      margin-bottom: 10px;
      // min-height: 186px;
      >td{
        &:last-child{
          position: absolute;
          width: auto !important;
          right: 0;
          top: 0;
        }
        &.text-center{
          width: 100% !important;
        }
      }
    }
  }
}
.btn-xs{
  padding: 2px 5px;
  font-size: 12px;
}
th.actions{
  width: 275px;
}
.btn-success ,
.btn-danger {
  color: #fff !important;
}
.btn-primary {
  background-color: #e01e26;
  border-color: #e01e26;
  &:hover{
    background-color: #9c070c;
    border-color: #9c070c;
  } 
}
.btn-danger {
  background-color: #e01e26;
  border-color: #e01e26;
  &:hover{
    background-color: #9c070c;
    border-color: #9c070c;
  } 
}
.btn-warning {
  color: #212529 !important;
}
.open-bets-table{
  thead{
    tr{
      th{
        &:first-child{
          width:120px;
        }
        &:nth-child(2){
          width:260px;
          @media(max-width:  900px){
            width: auto;
          }
        }
        &:last-child{
          width:95px;
        }
      }
    }
  }
  tbody {
    tr{
      td{
        p{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ccc;
          padding-bottom: 5px;
          margin-bottom: 5px;
          &:last-child{
            border-bottom: none;
          padding-bottom: 0px;
          margin-bottom: 0px;
          }
        }
        @media(max-width:  40em){
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
  }
}
.openbets-accord{
  .ui-accordion-content {
    position: relative;
    .update-bets-btn{
      position: absolute;
      top: -30px;
      right: 3px;
      z-index: 1;
      @media(max-width:  40em){
        top: 10px;
        right: 10px;
      }
    }
  }
}
body .ui-inputswitch {
  height: 1.25em;
  display: block;
}
body .ui-inputswitch .ui-inputswitch-slider:before {
  height: .75em;
  width: .75em;
  left: .55em;
}
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: #ffc900;
}
body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus .ui-inputswitch-slider,
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover 
.ui-inputswitch-slider {
  background-color: #ffc900;
}
p-accordion.disabled .ui-accordion {
  pointer-events: none;
  p-inputswitch{
    pointer-events: none;
  }
}
.header-two-parts{
  .ui-accordion-header{
    >a{
      display: flex;
      align-items: center;
      p-header{
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: space-between;
        .ui-clickable{
          .btn-sm{
            font-size: 12px;
            padding: 0 5px; 
          }
        }
      }
    }
  }
}
p-radiobutton{
  display: inline-flex;
  align-items: center;
  .ui-radiobutton-label{
    padding-right:10px;
  }
}
.custom-radios{
  padding-bottom: 5px;
}
.custom-filters{
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  @media(max-width: 40em){
    border-radius: 0px;
  }
}
.filter-dp{
  padding-right:5px;
  @media(max-width: 40em){
    padding-right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .ui-dropdown{
    @media(max-width: 40em){
      width: 100%;
    }
  }
}
.filter-dp label{
  padding-right:3px;
}
.custom-label{color: #999;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.box{
  padding: 10px;
  box-shadow: 0px 0px 6px #999;
  border-radius: 5px;
}
.mat-tab-group.mat-primary .mat-ink-bar, 
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #e11f27;
}