<div class="p-contain">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-danger" (click)="onAddGroup(addGroup)">Add</button>
    </div>
  <p-table [columns]="cols" [value]="groupList" [responsive]="true" [(selection)]="selectedUsers">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="actions-th">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="ui-column-title">{{ col.header }}</span>
          {{ user[col.field] }}
        </td>
        <td>
          <div
            class="actions-dp"
            ngbDropdown
            placement="bottom-right"
            container="body"
          >
            <a class="fa fa-ellipsis-v" ngbDropdownToggle></a>
            <div
              class="actions-dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
            >
              <!-- <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Credit', user)"
                  >Credit Amount</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Debit', user)"
                  >Debit Amount</a
                >
              </li> -->
              <li *ngIf="user.active">
                <a class="dropdown-item" (click)="suspendUsers([{userId: user.userId, updatedBy: sessionInfo.userId }])">Suspend User</a>
              </li>
              <li *ngIf="!user.active">
                <a class="dropdown-item" (click)="activateUsers([{userId: user.userId, updatedBy: sessionInfo.userId }])">Activate User</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="updateGroup(addGroup)"
                  >Edit Group</a
                >
              </li>
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr>
          <td>{{user.userId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.userType}}</td>
          <td>{{user.maxProfitMatch}}</td>
          <td>{{user.maxProfitFancy}}</td>
          <td>{{user.agentId}}</td>
          <td>
              <div class="actions-dp" ngbDropdown placement="bottom-right" container="body">
                  <a class='fa fa-ellipsis-v' ngbDropdownToggle></a>
                  <div class="actions-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <li> <a class="dropdown-item" (click)="onCreditAmount(creditAmount)">Credit amount</a></li>
                      <li> <a class="dropdown-item">Debit amount</a></li>
                  </div>
              </div>
          </td>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center" colspan="8">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #addGroup let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3>Add</h3>
      <button
        type="button"
        class="btn close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true" class="fa fa-times"></span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" ngNativeValidate>
        <formly-form
          [form]="form"
          [model]="model"
          [fields]="fields"
          [options]="options"
        >
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-sm btn-primary mr-1"
              (click)="addAmount()"
            >
              Add
            </button>
          </div>
        </formly-form>
      </form>
    </div>
  </ng-template>