<div class="p-contain">
    <button type="submit" class="btn btn-sm btn-primary mr-1" *ngIf="selectedUsers.length > 0" (click)="suspend()">Suspend</button>
    <button type="submit" class="btn btn-sm btn-primary" *ngIf="selectedUsers.length > 0" (click)="activate()">Activate</button>
  <p-table [columns]="cols" [value]="userList" [responsive]="true" [(selection)]="selectedUsers">
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th style="width: 4em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="actions-th">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <img class="avatar" [src]="user.image" alt="">
            <span class="pl-1">{{user.name}}</span>
          </div>
        </td>
        <td *ngFor="let col of columns">
          <span class="ui-column-title">{{ col.header }}</span>
          {{ user[col.field] }}
        </td>
        <td>
          <div
            class="actions-dp"
            ngbDropdown
            placement="bottom-right"
            container="body"
          >
            <a class="fa fa-ellipsis-v" ngbDropdownToggle></a>
            <div
              class="actions-dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
            >
              <!-- <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Credit', user)"
                  >Credit Amount</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="onCreditDebitAmount(creditAmount, 'Debit', user)"
                  >Debit Amount</a
                >
              </li> -->
              <li *ngIf="user.active">
                <a class="dropdown-item" (click)="suspendUsers([{userId: user.userId, updatedBy: sessionInfo.userId }])">Suspend User</a>
              </li>
              <li *ngIf="!user.active">
                <a class="dropdown-item" (click)="activateUsers([{userId: user.userId, updatedBy: sessionInfo.userId }])">Activate User</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="updateUser(updateUserTemp, user)"
                  >Edit User</a
                >
              </li>
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr>
          <td>{{user.userId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.userType}}</td>
          <td>{{user.maxProfitMatch}}</td>
          <td>{{user.maxProfitFancy}}</td>
          <td>{{user.agentId}}</td>
          <td>
              <div class="actions-dp" ngbDropdown placement="bottom-right" container="body">
                  <a class='fa fa-ellipsis-v' ngbDropdownToggle></a>
                  <div class="actions-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <li> <a class="dropdown-item" (click)="onCreditAmount(creditAmount)">Credit amount</a></li>
                      <li> <a class="dropdown-item">Debit amount</a></li>
                  </div>
              </div>
          </td>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center" colspan="8">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #creditAmount let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>{{ modalTitle }} Amount</h3>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" ngNativeValidate>
      <formly-form
        [form]="form"
        [model]="model"
        [fields]="fields"
        [options]="options"
      >
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-sm btn-primary mr-1"
            (click)="addAmount()"
          >
            Add {{ modalTitle }}
          </button>
        </div>
      </formly-form>
    </form>
  </div>
</ng-template>
<ng-template #updateUserTemp let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Update User Details</h3>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="card-body" >
    <!-- ngNativeValidate -->
    <form
      [formGroup]="userForm"
      ngNativeValidate
      (ngSubmit)="userSubmit(userModel)"
      autocomplete="on"
    >
      <formly-form
        [form]="userForm"
        [model]="userModel"
        [fields]="userFields"
        [options]="userOptions"
      >
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-sm btn-primary">Update User</button>
        </div>
      </formly-form>
    </form>
  </div>
</ng-template>
