<ion-content>
  <ion-refresher pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    slot="fixed"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="none"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row class="ion-align-items-center no-meetings"
    *ngIf="showMeetingMsg"> 
    <ion-col class="ion-justify-content-center "
      style="display: flex; align-items: center;">
      {{ noMeetingMsg }}
    </ion-col>
  </ion-row>
  <app-load-skeleton *ngIf="showLoading" theme="theme1"></app-load-skeleton>
  <!-- <ion-row class="ion-align-items-center"
    *ngIf="showLoading">
    <ion-col class="ion-justify-content-center"
      style="display: flex; align-items: center;">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row> -->
  <ion-grid>
    <ion-row class="post-widget"
      *ngFor="let m of meetingList; let mInx = index">
      <ion-card class="post-list">
        <ion-card-header>
          <ion-row>
            <ion-col size="auto"
              class="col-avatar"
              (click)="clickMeeting(m)">
              <ion-avatar class="post-avatar">
                <img [src]="m.imageUrl+'?w=200&h=200'" />
              </ion-avatar>
            </ion-col>
            <ion-col class="col-avatar-right">
              <ion-label (click)="clickMeeting(m)">
                <ion-text class="text-name format-text">{{ m.title }}</ion-text>
                <!-- <ion-text class="post-stars">
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </ion-text> -->
                <!-- <span class="date">{{post.createdDate}}</span> -->
              </ion-label>
              <p (click)="gotoGroupPage(m.group)">
                <!-- <ion-text class="text-agenda">{{m.group.name}}</ion-text> -->
                <ion-label class="meeting-sub-title"
                  *ngIf="m.isPublished == 0">Un-published</ion-label>
                <ion-text class="text-danger">
                  Say No To <span class="text-danger"> {{ m.group.name }} </span>
                </ion-text>
                <ion-text color="danger"
                  *ngIf="m.isSuspend">
                  (Suspend)
                </ion-text>
              </p>
            </ion-col>
            <ion-col size="auto"
              class="ion-text-end ion-padding-t-10 ion-padding-l-0 ion-padding-r-0 ion-padding-b-0"
              *ngIf="!m.isCreatedBy && !m.isSuspend && !m.isCompleted">
              <!-- <ion-text class="text-medium" style="display: block;">{{m?.city?.name}}</ion-text> -->
              <ion-button class="ion-no-margin button-small"
                size="small"
                color="medium"
                (click)="meetingJoin(m)"
                *ngIf="m.isMember">
                Unjoin</ion-button>
              <ion-button class="ion-no-margin button-small"
                size="small"
                color="danger"
                (click)="meetingJoin(m)"
                *ngIf="!m.isMember">
                Join</ion-button>
            </ion-col>
          </ion-row>
          <ion-card-title class="format-text" (click)="clickMeeting(m)">
            <!-- <ion-text>[Anti]</ion-text> -->
            <ion-label class="hel-bold-font">{{ m.city.name }}</ion-label>
            <!-- <ion-icon class="custom-antie"></ion-icon> -->
          </ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="clickMeeting(m)">
          <!-- <ion-thumbnail class="post-image">
          <ion-img [src]="post.imageUrl"></ion-img>
        </ion-thumbnail> -->
          <ion-row (click)="clickMeeting(m)"
            class="ion-nowrap row-last ion-align-items-center">
            <ion-col class="ion-no-padding">
              <label class="meeting-date"
                style="display: block;">{{ m.meetingDate | date: "mediumDate" }} - {{ m.endDate | date: "mediumDate" }},
                {{ m.startTime | date: "shortTime" }} - {{ m.endTime | date: "shortTime" }}
              </label>

              <!-- <ion-avatar class="avater small" *ngFor="let m of m.members">
                <img [src]="m.user.imageUrl" />
              </ion-avatar> -->
            </ion-col>
          </ion-row>
          <ion-text class="post-description hel-regular-font format-text"
            color="dark">
            <p>{{ m.agenda }}</p>
          </ion-text>
          <ion-row class="ion-padding-b-5">
            <app-peoples-icons [peoples]="m.members"
              label="People are attending"></app-peoples-icons>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
   
  </ion-grid>

  <ion-infinite-scroll threshold="100px"
    (ionInfinite)="getMeetings($event)">
    <ion-infinite-scroll-content loadingSpinner="none"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>