<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button defaultHref="/dashboard/posts"></ion-back-button>
      <ion-img class="ion-padding-r-10 header-logo" src="assets/svg/nah_logo_white.svg"></ion-img>
      <ion-text class="ion-vertical-align-content white-color ion-margin-t-5">
        Agendas
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar class="sticky-search" (ionInput)="searchFilter($event)"></ion-searchbar>
  <ion-card class="post-list" *ngFor="let agenda of agendaList">
    <ion-card-header>
      <ion-card-title class="agenda-p-title"> 
        <ion-label *ngIf="agenda.title">{{ agenda.title }}</ion-label> 
        <ion-label *ngIf="!agenda.title">No title</ion-label> 
        <ion-label color="success" *ngIf="agenda.status == 'publish'">{{ agenda.status + 'ed' | titlecase }}</ion-label> 
        <ion-label class="text-orange" *ngIf="agenda.status == 'draft'">{{ agenda.status + 'ed' | titlecase }}
          <ion-icon name="create" *ngIf="agenda.status == 'draft'" [routerLink]="['/agenda/create/' + agenda.id]"></ion-icon>
        </ion-label> 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-row class="text-center" *ngFor="let topic of agenda.topics; let last = last">
        <ion-text class="text-primary text-center" (click)="appNav.goToTopicDetails(topic)">Say No To {{ topic.name | titlecase }} </ion-text>
      </ion-row> -->
      <!-- <div class="bars-list" *ngIf="!last"></div> -->
      <ion-row>
        <ion-col class="say-no-list no-red-border">
          <p *ngFor="let topic of agenda.topics; let last = last" class="text-primary text-center ion-ellipsis" (click)="appNav.goToTopicDetails(topic)">
            <ion-label>Say No To {{ topic.name | titlecase }} </ion-label>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
