<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      <ion-title>{{ title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <!-- <div class="col-12">
      <button type="submit" class="btn btn-default">Submit</button>
    </div> -->
  </form>
</ion-content>
<ion-footer>
  <!-- <ion-row class="ion-justify-content-center">
    <h3 class="red-color font-24">A new way to hate...!</h3>
  </ion-row> -->
  <ion-row class="ion-justify-content-center ion-margin-top ion-margin-bottom">
    <ion-button color="danger" (click)="submit(model,false)" [disabled]="form.invalid">
      Save
    </ion-button>
    <ion-button color="danger" (click)="submit(model,true)" [disabled]="form.invalid">
      Save & Publish
    </ion-button>
    <!-- <ion-button color="light" (click)="signInWithGoogleTest()">
           <ion-img class="ion-padding-r-10" style="width:30px;" src="assets/images/google.png"></ion-img>
      Continu without Google Test
    </ion-button> -->
  </ion-row>
</ion-footer>