<ion-card class="ion-no-margin" (click)="createAgenda()" *ngIf="agenda;else createAgendaTemp">
    <ion-card-header>
    <ion-card-title class="card-title">AGENDA</ion-card-title>
    <ion-card-subtitle>Phase 1 day 17 From {{agenda.startDate | date}} To {{agenda.endDate | date}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-row class="agenda-list" *ngFor="let topic of agenda.topics">
      <span>Say No To :</span> <ion-badge color="danger" >{{topic.name}}</ion-badge>
    </ion-row>
    
  </ion-card-content>
</ion-card>

<ng-template #createAgendaTemp>
  <ion-button (click)="createAgenda()">Create Agenda</ion-button>
</ng-template>