.agenda-list{
    margin-bottom: 5px;
    color: #333;
    span{
        padding-right: 5px;
    }
}
.sub-title-info1{
    text-transform: uppercase;
    color:#1E1E1E;
    font-weight: bold;
    font-size: 15px;
}
.sub-title-info2{
    padding-left: 20px;
    font-size: 12px;
}