<ion-card (click)="createAgenda()" *ngIf="agenda;else createAgendaTemp">
    <ion-card-header>
    <ion-card-title>AGENDA</ion-card-title>
    <ion-card-subtitle>Phase 1 day 17 From {{agenda.startDate | date}} To {{agenda.endDate | date}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-row *ngFor="let topic of agenda.topics">
      Say No To : <ion-badge color="primary" >{{topic.name}}</ion-badge>
    </ion-row>
    
  </ion-card-content>
</ion-card>

<ng-template #createAgendaTemp>
  <ion-button (click)="createAgenda()">Create Agenda</ion-button>
</ng-template>