.login-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../assets/images/bg-img.png');
    background-size: cover;
    background-position: center;
    @media(max-width:767px){
        justify-content: center;
    }
}