<div class="side-menu" [ngClass]="menuStyle">
  <ul class="nav customScroll">
    <li class="nav-item nav-dropdown" [class.nav-dropdown]="m.childs" routerLinkActive="open" appNavDropdown *ngFor="let m of menu">
      <!--(click)="addAnimation()"-->
      <a *ngIf="m.childs &&  m.childs.length>1" class="nav-link nav-dropdown-toggle" routerLinkActive="active"
        appNavDropdownToggle>
        <span class="fa fa-angle-down dp-arrow"></span>
        <i class="{{m.icon}}"></i>
        <span class="nav-link-text">{{m.label}}</span>
      </a>
      <a [routerLink]="[m.childs[0].code]" *ngIf="!m.childs || (m.childs && m.childs.length==1)" routerLinkActive="active"
        class="nav-link" appNavDropdownToggle (click)="menuClose()">
        <i class="{{m.icon}}"></i>
        <span class="nav-link-text">{{m.label}}</span>
      </a>
      <ul class="nav-dropdown-items" *ngIf="m.childs && m.childs.length > 1 ">
        <li class="nav-item nav-dropdown" [class.nav-dropdown]="s.childs" appNavDropdown *ngFor="let s of m.childs">
          <a *ngIf="s.childs" class="nav-link nav-dropdown-toggle" routerLinkActive="active" appNavDropdownToggle>

            <span class="nav-link-text">{{s.label}}</span>
            <!-- <span class="fa fa-angle-right dp-arrow"></span> -->
          </a>
          <a *ngIf="!s.childs" [routerLink]="['/zc-admin/'+m.code+'/'+s.code]" class="nav-link" routerLinkActive="active"
            appNavDropdownToggle (click)="menuClose()">
            <i class="{{s.icon}}"></i>
            <span>{{s.label}}</span>
          </a>
          <ul class="nav-dropdown-items" *ngIf="s.childs">
            <li class="nav-item nav-dropdown" [class.nav-dropdown]="ss.childs" *ngFor="let ss of s.childs">
              <a *ngIf="ss.childs" class="nav-link nav-dropdown" routerLinkActive="active">
                <!-- <i class="fa {{ss.icon}}"></i> -->
                <span class="nav-link-text">{{ss.label}}</span>
                <!-- <span class="fa fa-angle-right dp-arrow"></span> -->
              </a>
              <a *ngIf="!ss.childs" [routerLink]="['/zc-admin/'+ss.code]" class="nav-link" routerLinkActive="active">
                <!-- <i class="fa {{ss.icon}}"></i> -->
                <span class="nav-link-text">{{ss.label}} sub</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>