<ion-row>
  <input 
    #fileInput
    type="file"
    [ngClass]="{ 'multiple-files': to.multiple }"
    [multiple]="to.multiple"
    ng2FileSelect
    [uploader]="uploader"
  />
</ion-row>
<div class="container multiple-image-list" *ngIf="uploadedImages">
  <div class="image-list-block" *ngFor="let img of uploadedImages; let inx = index">
    <span class="img-delete" (click)="deleteImg(inx)">
      <ion-icon name="trash"></ion-icon>
    </span>
    <ion-img class="image-thumb" [src]="img.fullPath"></ion-img>
  </div>
</div>
