<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196016802810-kfcai6u57ueqph428s5j52jt5pgtun00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196016802810-kfcai6u57ueqph428s5j52jt5pgtun00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>196016802810-rb1ldlor2h7imkavq83au62g7jn9dcrp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6w-PutHaNfBew7r4-6h2rU_lD90HGir0</string>
	<key>GCM_SENDER_ID</key>
	<string>196016802810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayno.nah</string>
	<key>PROJECT_ID</key>
	<string>nah-mobile-a6ab8</string>
	<key>STORAGE_BUCKET</key>
	<string>nah-mobile-a6ab8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196016802810:ios:ba1b7b57890af6dd9db243</string>
	<key>DATABASE_URL</key>
	<string>https://nah-mobile-a6ab8.firebaseio.com</string>
</dict>
</plist>