.post-image-privew {
    img {
        object-fit: cover;
        padding: 1px;
    }

    .h150 {
        height: 150px;
    }
    .h75 {
        height: 75px;
    }
    .last-image {
        opacity: 0.2;
    }
    .image-count {
        position: absolute;
        left: 50%;
        font-size: 40px;
        margin: auto;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
    }
}
