<ion-grid [ngSwitch]="gridType" class="post-image-privew" [gallerize]="galleryId">
  <ion-row *ngSwitchCase="'g0'"> </ion-row>
  <ion-row *ngSwitchCase="'g1'">
    <ion-col>
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchCase="'g2'">
    <ion-col>
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
    <ion-col>
      <img class="h150" [src]="images[1].fullPath" />
    </ion-col>
  </ion-row>
  <ion-row class="g3" *ngSwitchCase="'g3'">
    <ion-col>
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
    <ion-col>
      <ion-row> <img class="h75" [src]="images[1].fullPath" /></ion-row>
      <ion-row> <img class="h75" [src]="images[2].fullPath" /></ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchCase="'g4'">
    <ion-col>
      <ion-row> <img class="h75" [src]="images[0].fullPath" /></ion-row>
      <ion-row> <img class="h75" [src]="images[1].fullPath" /></ion-row>
    </ion-col>
    <ion-col>
      <ion-row> <img class="h75" [src]="images[2].fullPath" /></ion-row>
      <ion-row> <img class="h75" [src]="images[3].fullPath" /></ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchDefault>
    <ion-col>
      <ion-row> <img class="h75" [src]="images[0].fullPath" /></ion-row>
      <ion-row> <img class="h75" [src]="images[1].fullPath" /></ion-row>
    </ion-col>
    <ion-col>
      <ion-row> <img class="h75" [src]="images[2].fullPath" /></ion-row>
      <ion-row class="h75">
        <img class="h75 last-image" [src]="images[3].fullPath" />
        <img class="h75 last-image ion-hide" [src]="img.fullPath" *ngFor="let img of remainingImg" />
        <span class="image-count">+ {{ moreCount }} </span>
      </ion-row>
     
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <gallery [items]="images" thumbPosition="left" ></gallery> -->
