<ion-grid [ngSwitch]="gridType" class="post-image-privew" *ngIf="!showAll">
  <ion-row *ngSwitchCase="'g0'"> </ion-row>
  <ion-row *ngSwitchCase="'g1'">
    <ion-col class="gallery-images" (click)="lightbox.open(0, galleryId)">
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchCase="'g2'">
    <ion-col class="gallery-images" (click)="lightbox.open(0, galleryId)">
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
    <ion-col class="gallery-images" (click)="lightbox.open(1, galleryId)">
      <img class="h150" [src]="images[1].fullPath" />
    </ion-col>
  </ion-row>
  <ion-row class="g3" *ngSwitchCase="'g3'">
    <ion-col class="gallery-images" (click)="lightbox.open(0, galleryId)">
      <img class="h150" [src]="images[0].fullPath" />
    </ion-col>
    <ion-col class="gallery-images">
      <ion-row (click)="lightbox.open(1, galleryId)"> <img class="h75" [src]="images[1].fullPath" /></ion-row>
      <ion-row (click)="lightbox.open(2, galleryId)"> <img class="h75" [src]="images[2].fullPath" /></ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchCase="'g4'">
    <ion-col (click)="lightbox.open(imgInx, galleryId)" class="gallery-images" size="6" *ngFor="let img of images; let imgInx = index">
      <img class="h150" [src]="img.fullPath" />
    </ion-col>
  </ion-row>
  <ion-row *ngSwitchDefault>
    <ion-col class="gallery-images">
      <ion-row (click)="lightbox.open(0, galleryId)"> <img class="h150" [src]="images[0].fullPath" /></ion-row>
      <ion-row (click)="lightbox.open(1, galleryId)"> <img class="h150" [src]="images[1].fullPath" /></ion-row>
    </ion-col>
    <ion-col class="gallery-images">
      <ion-row (click)="lightbox.open(2, galleryId)"> <img class="h150" [src]="images[2].fullPath" /></ion-row>
      <ion-row class="h150 count-center" (click)="lightbox.open(3, galleryId)">
        <img class="h150 last-image" [ngClass]="{ 'last-image': !showAll }" [src]="images[3].fullPath" />
        <span class="image-count" *ngIf="!showAll">+{{ moreCount }} </span>
      </ion-row>
    </ion-col>
    <!-- <ion-row [ngClass]="{'ion-hide': !showAll}">
      <ion-col class="gallery-images" size="6" *ngFor="let img of remainingImg">
        <img class="h75" [src]="img.fullPath" />
      </ion-col>
    </ion-row> -->
  </ion-row>
</ion-grid>
<ion-grid [ngSwitch]="gridType" class="post-image-privew" [gallerize]="galleryId" *ngIf="showAll">
  <ion-row *ngFor="let img of images">
    <img [src]="img.previewUrl" width="100%" />
  </ion-row>
</ion-grid>

<!-- <gallery [items]="images" thumbPosition="left" ></gallery> -->
