<header>
  <div class="header-widget">
    <div class="header-left">
      
      <a
        href="javascript:;"
        class="fa fa-bars sidebar-toggle"
        (click)="toggleMenu()"
      ></a>
      <a [routerLink]="['/admin/users/list']" class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <!-- <span class="marquee">
        <marquee
          >Cricket News Update-> The Ashes 2019 Start From 1stAugust2019, India
          tour of West Indies Start From 03rdAugust2019, Womens Cricket Super
          League 2019 Start From 06August2019, New Zealand tour of Sri Lanka,
          2019 Start From 14August2019, Scotland Tri-Series 2019 (Oman, Papua
          New Guinea, Scotland) Start From 14August2019, Spain tour of Finland,
          2019 Start From 17August2019, Karnataka Premier League 2019 Start From
          16August2019, Euro T20 Slam 2019 Start From 30August2019.
        </marquee>
      </span> -->
    </div>
    <div class="header-right">
      <ul class="menu">
        <li>
          <div ngbDropdown class="user-details" placement="bottom-right">
            <a class="text-body" id="dropdownBasic1" ngbDropdownToggle>
              <span class="welcome">Welcome </span>
              <span class="welcome-user"> Admin</span>
            </a>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="user-menu"
            >
              <ul>
                <!-- 
                <li><a class="dropdown-item">Account Statement</a></li>
                <li><a class="dropdown-item">Chip Summery</a></li>
                <li><a class="dropdown-item">Chip History</a></li>
                
                
                 -->
                <!-- <li><a class="dropdown-item" [routerLink]="['/admin/user/profile']">Profile</a></li>               
                <li><a class="dropdown-item" [routerLink]="['/admin/user/change-password']">Change Password</a></li> -->
                <li><a class="dropdown-item" [routerLink]="['/admin/users/change-password']">Change Password</a></li>
                <li><a class="dropdown-item" (click)="logout()"> Logout</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- <div class="breadcrumb">
  <a href="javascript:;" class="fa fa-bars sidebar-toggle" (click)="toggleMenu();"></a>
  <mc-breadcrumbs></mc-breadcrumbs>
</div> -->
<div class="left-menu">
  <!-- <a [routerLink]="['/admin/users/list']" class="logo">
    <img src="assets/images/logo.png" alt="logo" />
  </a> -->
  <app-side-menu></app-side-menu>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
<!-- <footer>
  <div class="footer-left">
    Copyright Reserved.
  </div>
  <div class="footer-right">
    <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    <a routerLink="/home" routerLinkActive="active">Terms of Use</a>
    <a routerLink="/home" routerLinkActive="active">Privacy Policy</a>
  </div>
</footer> -->
