/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/svg-icons";
ion-header{
  --ion-toolbar-background: var(--ion-color-danger);
  color: #ffffff;
}
.font-32{
    font-size: 32px;
}
.font-24{
    font-size: 24px;
}
.pad-r{
    padding-right: var(padding-end);
}
.avatar{
    font-size: 32px;
    color: var(--ion-color-danger);
    border-radius: 50%;
    box-shadow: 0px 0px 6px #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.white-color{
    color: #ffffff;
}
.toolbar-content,
.space-between-center{
    .toolbar-container{

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.d-block{
    display: block;
}
.border-top{
    border-top: 1px solid #ccc;
}

.item-native{
    padding: 0 ;
}
.margin-top-150{
    margin-top: 150px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-50{
    margin-top: 50px;
}

ion-select {
    border: 1px solid #ccc;
}
.bg-ash{
    background:#ccc;
}
.border{
    border: 1px solid #ccc;
}
.border-b-none{
    border-bottom: none;
}
.group-create-modal .modal-wrapper {
    height: 20%;
    position: absolute; 
    top: 80%;
    display: block;
}

.label-full-width {
    font-size: 14px;
    color: #999;
} 
.value-full-width {
    ion-input,ion-textarea,ion-datetime {
        border:1px solid #ccc !important;
        font-size: 15px;
        margin-top: 0px;
    }
} 
.select-placeholder{font-size: 15px !important;}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-12{
    flex: 0 0 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.col-6{
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.btn-default {
    padding: 10px;
    border-radius: 5px;
}
vertical-field{
    width: 100%;
    margin-bottom: 15px;
    ion-col{padding: 0;}
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
ion-tabs{
    position: relative !important;
    contain: inherit !important;
}
.meeting-list-d {
    .item-native{
        padding: 0 !important;
    }
    .item-inner{
        padding: 0 !important;
    }
    img{
        box-shadow: 0px 0px 6px #999;
        border-radius: 50%;
    }
}
.sticky-search{
    position: sticky;
    top: -8px;
    z-index: 2;
}
.meeting-item {
    .img-left{
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 5px;
        }
    }
}
.button-small {
    font-size: 12px;
}
formly-field-file ion-input{
    width: 100% !important;
    height: 35px;
    // background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 0px;
    position: relative;
    &::before{
        content: 'Choose file';
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: center;
        position: absolute;
        top: 0;
        left: 10px;
        width: 100px;
        height: 35px;
        line-height: 33px;
        color: #999;
    }
    &.multiple-files{
        width: 70px !important;
        height: 70px;
        &::before{
            content: '';
            background-image: url('assets/images/upload-image.png');
            background-repeat: no-repeat;
            background-size: 45px;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
        }
    }
}
formly-field-file ion-input input{
    opacity: 0;
    height: 100%;
}
.border{
    border: 1px solid #ccc;
}
ion-tabs{
    z-index: 0;
}
ion-tab-bar{
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    height: 40px;
}
ion-tab-button{
    padding: 5px;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 16px;
    ion-label{
        text-transform: uppercase;
    }
    &.active,&:hover{
        background-color: var(--ion-color-danger);
        color: #ffffff;
        ion-label{
            text-transform: uppercase;
            color: #ffffff;
        }
    }
} 
.ionic-selectable-cover{
    border: 1px solid #ccc !important;
}
.ionic-selectable-value-item{
    font-size: 14px;
    padding: 0 10px;
}
.no-meetings{
    background-color: #d8d8d8;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    color: #827d7d;
    font-size: 14px;
}