/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/svg-icons";
ion-header{
  --ion-toolbar-background: var(--ion-color-danger);
  color: #ffffff;
}
.font-32{
    font-size: 32px;
}
.font-24{
    font-size: 24px;
}
.pad-r{
    padding-right: var(padding-end);
}
.avatar{
    font-size: 32px;
    color: var(--ion-color-danger);
    border-radius: 50%;
    box-shadow: 0px 0px 6px #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.white-color{
    color: #ffffff;
}
.toolbar-content,
.space-between-center{
    .toolbar-container{

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.d-block{
    display: block;
}
.border-top{
    border-top: 1px solid #ccc;
}

.item-native{
    padding: 0 ;
}
.margin-top-150{
    margin-top: 150px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-50{
    margin-top: 50px;
}

ion-select {
    border: 1px solid #ccc;
}
.bg-ash{
    background:#ccc;
}
.border{
    border: 1px solid #ccc;
}
.border-b-none{
    border-bottom: none;
}
.group-create-modal .modal-wrapper {
    height: 20%;
    position: absolute; 
    top: 80%;
    display: block;
}

.label-full-width {
    font-size: 14px;
    color: #999;
} 
.value-full-width {
    ion-input,ion-textarea,ion-datetime {
        border:1px solid #ccc !important;
        font-size: 15px;
    }
} 
.select-placeholder{font-size: 15px !important;}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-12{
    flex: 0 0 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.col-6{
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.btn-default {
    padding: 10px;
    border-radius: 5px;
}
vertical-field{
    width: 100%;
    margin-bottom: 15px;
    ion-col{padding: 0;}
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
ion-tabs{
    position: relative !important;
    contain: inherit !important;
}
.meeting-list-d {
    .item-native{
        padding: 0 !important;
    }
    .item-inner{
        padding: 0 !important;
    }
    img{
        box-shadow: 0px 0px 6px #999;
        border-radius: 50%;
    }
}
.sticky-search{
    position: sticky;
    top: -8px;
    z-index: 2;
}
.meeting-item {
    .img-left{
        .avatar{
            border-radius: 5px;
        }
    }
}