<div class="p-contain">
    <div class="row m-0 box">
        <div class="col-12 col-md-4">
                <label class="custom-label">Meeting name</label>
                <div class="label-value">Team meeting </div>
        </div>
        <div class="col-12 col-md-4">
                <label class="custom-label">Meeting Type</label>
                <div class="label-value">General </div>
        </div>
        <div class="col-12 col-md-4">
                <label class="custom-label">Meeting Duration</label>
                <div class="label-value">4 hours </div>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Images"> 
                <ul class="images-list">
                    <li *ngFor="let item of imgList;"><img [src]="item.url" alt=""></li>
                </ul>
            </mat-tab>
            <mat-tab label="Videos"> Content 2 </mat-tab>
            <mat-tab label="Comments"> Content 3 </mat-tab>
          </mat-tab-group>
    </div>
</div>
