.images-list{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    li{
        margin: 5px;
        img{
            width: 150px;
        }
    }
}
.comments-list{
    li{
        padding: 15px;
        border-bottom: 1px solid #efefef;
        .comment{
            display: flex;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            p{
                padding-left: 10px;
                color: #999;
            }
        }
       &:last-child{
        border-bottom: none;
       }     
       .comment-info{
           padding-left: 60px;
           margin: 0;
       }
    }
}