<div class="p-contain">
    <div class="row m-0 box">
        <div class="col-12 col-md-3">
            <label class="custom-label">Image</label>
            <div class="label-value">
                <img width="100%" [src]="meeting.imageUrl" alt="">
            </div>
        </div>
        <div class="col-12 col-md-9 row align-items-center">            
            <div class="col-12 col-md-4">
                <label class="custom-label">Meeting Title</label>
                <div class="label-value"> {{ meeting.title}} </div>
            </div>
            <div class="col-12 col-md-4">
                <label class="custom-label">Date</label>
                <div class="label-value">{{ meeting.meetingDate | date}} </div>
            </div>
            <div class="col-12 col-md-4">
                <label class="custom-label">Time</label>
                <div class="label-value">{{ meeting.startTime | date : 'shortTime' }} To {{ meeting.endTime | date : 'shortTime' }} </div>
            </div>
            <div class="col-12 col-md-4">
                <label class="custom-label">Location</label>
                <div class="label-value">{{ meeting.location }} </div>
            </div>
            <div class="col-12 col-md-4">
                <label class="custom-label">Contact Details</label>
                <div class="label-value">{{ meeting.contactInfo }}</div>
            </div>
            <div class="col-12 col-md-4">
                <label class="custom-label">Group</label>
                <div class="label-value">{{ meeting.group?.name }} </div>
            </div>
            <div class="col-12">
                <label class="custom-label">Description</label>
                <div class="label-value">{{ meeting.agenda }} </div>
            </div>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Images">
                <ul class="images-list">
                    <li *ngFor="let item of meeting?.photos">
                        <img [src]="item.imagePath" alt="">
                        <i class="fa fa-trash"></i>
                    </li>
                    <li *ngIf="meeting.photos && meeting.photos.length < 1">
                        No images found
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Videos"> 
                <ul class="images-list">
                <li *ngFor="let video of meeting?.videos;">
                    <iframe width="200" height="180" [src]="video.videoPath | safe"></iframe>
                    <i class="fa fa-times-circle"></i>
                </li>
                <li *ngIf="meeting.videos && meeting.videos.length < 1">
                    No videos found
                </li>
                </ul>
        </mat-tab>
            <mat-tab label="Comments">
                <ul class="comments-list">
                    <li  *ngFor="let comment of meeting.comments;">
                        <div class="comment">
                            <img [src]="comment.createdBy.imageUrl" alt="">
                            <p style="font-weight: bold;">{{comment.createdBy.displayName}}</p>
                        </div>
                        <p class="comment-info">{{comment.comment}}</p>
                        <i class="fa fa-times-circle" (click)="deleteComment(comment.id)"></i>
                    </li>
                    <li *ngIf="meeting.comments && meeting.comments.length < 1">
                        No comments found
                    </li>
                </ul>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

