<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="white-color">
      <ion-back-button></ion-back-button>
      Choose your Say No To Group
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-vertical-align-content">
  <ion-searchbar></ion-searchbar>
  <ion-grid class="group">
    <ion-col class="group-item" *ngFor="let item of groupList">
      <ion-chip class="chip" [ngClass]="{active:item.active}" (click)="itemClick(item)">
        <ion-label>{{item.name}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-grid>
  <ion-item>
    <ion-label position="floating">Create A Group</ion-label>
    <ion-input [(ngModel)]="profile.newGroupName" ></ion-input>
  </ion-item>
  <ion-row class="ion-justify-content-center margin-top-150">
    <ion-button color="light" (click)="updateSignIn()">
      START EXPLORING
    </ion-button>
  </ion-row>
</ion-content>