<!-- #######  YAY, I AM THE SOURCE EDITOR! #########--><nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
<div class="container">
<div id="navbarResponsive" class="collapse navbar-collapse">
<p>&nbsp;</p>
</div>
</div>
</nav><header class="masthead">
<div class="container h-100">
<div class="row h-100">
<div class="col-lg-12 my-auto">
<div class="header-content mx-auto text-center">
<div class="img-circle avatar mb-3 aos-init aos-animate" data-aos="zoom-in"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://nah.theapp.in/img/logo.png" alt="" width="91" height="97" /></div>
<h1 class="mb-5 aos-init aos-animate" style="text-align: center;" data-aos="fade-up">&nbsp;HI! #{displayName}</h1>
<h1 class="mb-5 aos-init aos-animate" data-aos="fade-up">NAH is a new mobile app, or anything else!</h1>
</div>
<section class="download bg-primary1 text-center mb-4">
<div class="container">
<div class="row">
<div class="col-md-8 mx-auto">
<p class="aos-init" data-aos="fade-up">Our app is available on any mobile device! Download now to get started!</p>
<div class="badges aos-init" data-aos="fade-up">&nbsp;</div>
<div class="badges aos-init" data-aos="fade-up">&nbsp;</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</header>
<section id="features">
<div class="container">
<div class="row m-0 about-us">
<h3>Features</h3>
<div class="row">
<div class="col-12 col-md-12 mb-4">
<div class="feature">
<p>NAH is a different platform which helps in gathering people around the world based on them disliking the same thing they are pessimists and optimists, but we NAH emphasize the fact about hating stubbing your toe or a crowded subway.</p>
</div>
</div>
<div class="col-12 col-md-6 mb-4">
<div class="feature">
<p>It's not about hating groups of people, but to bring the same kind of dislike-minded people together.</p>
</div>
</div>
<div class="col-12 col-md-6 mb-4">
<div class="feature">
<p>In this app, you can meet with people who refuses or dislike the same thing as you do.</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="faqs">
<div class="container">
<div class="row m-0 about-us">
<h3 class="text-center">Frequently asked questions(FAQs)</h3>
<div id="accordionExample" class="accordion">
<div class="card">
<div id="headingOne" class="card-header">
<h2 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">suffering from fewer conversions for the same ad spend on your google ads?</button></h2>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="card-body">Your ads might be getting click fraud. Check if you need to protect your ads from competitors &amp; bots. Simple setup. Start your free checkup today.</div>
</div>
</div>
<div class="card">
<div id="headingTwo" class="card-header">
<h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">how can i change my shipping address?</button></h2>
</div>
</div>
<div class="card">
<div id="headingThree" class="card-header">
<h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">how do i activate my account?</button></h2>
</div>
</div>
<div class="card">
<div id="headingFour" class="card-header">
<h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="headingFour">why must i make payment immediately at checkout?</button></h2>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="aboutNah">
<div class="container">
<div class="row m-0 about-us">
<h3>About NAH</h3>
<p class="box-shadow">NAH as a meet up platform for people who shares the same kind of refusal tendency. NAH provides users a platform to discuss topics from Kim Jong-Un to ketchup on hot dogs. It's totally free app with some different monetization strategies. NAH is a different platform which helps in gathering people around the world based on them disliking the same thing they are pessimists and optimists, but we NAH emphasize the fact about hating stubbing your toe or a crowded subway. It's not about hating groups of people, but to bring the same kind of dislike-minded people together.</p>
<p class="box-shadow">Many Online dating companies match people to come together and share a common platform based on interest and attraction. Even some research says people can also like each other when they share similar dislikes. In this app, you can meet with people who refuses or dislike the same thing as you do.</p>
<p>&nbsp;</p>
<section class="regular slider text-center slick-initialized slick-slider slick-dotted aos-init" data-aos="fade-up">
<div class="slick-list draggable">
<div class="slick-track">
<div id="slick-slide10" class="slick-slide slick-current slick-active" tabindex="0" role="tabpanel" data-slick-index="0" aria-hidden="false" aria-describedby="slick-slide-control10"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://nah.theapp.in/img/slide-5.jpeg" width="229" height="463" /></div>
</div>
</div>
</section>
</div>
</div>
</section>
<footer>
<div class="container">
<div class="row m-0 footer-part1" style="text-align: center;">
<div class="col-12 col-md-4">
<h4>Contact Us</h4>
<p class="text-justify">1600 Pennsylvania Ave NW,<br />Washington,<br />DC 20500,<br />United States</p>
Business contact: xxxxxxxxxxAll Rights Reserved &copy; 2020</div>
</div>
<div class="row m-0 footer-part2">
<div class="col-12 col-md-5 text-md-right" style="text-align: center;"><a href="http://nah.landing.theapp.in/terms.html">Terms &amp; Conditions</a></div>
</div>
</div>
</footer>