<p><span style="font-weight: 400;">Hi , #{displayName} !&nbsp;</span></p>
<p><span style="font-weight: 400;">Your account now has full access to you can explore the NAH app, create groups , community discovering, share your thoughts through posts and setting agenda&rsquo;s in order to bring the change .&nbsp;</span></p>
<h1 style="color: #5e9ca0;">&nbsp;</h1>
<p><span style="font-weight: 400;">Couple important tips:</span></p>
<ol>
<li><span style="font-weight: 400;"> Creation comes when you learn to say no.&nbsp;</span></li>
<li><span style="font-weight: 400;"> NAH let you plan, meet, amass and talk about the&nbsp;real issues,&nbsp;so that you can bring in the change that you need.</span></li>
<li><span style="font-weight: 400;"> More freedom lies in knowing where and when to say NO. Have no shackles, head held high, break free, and say NO.</span></li>
</ol>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="font-weight: 400;">Image 1 ( posts )&nbsp;</span></p>
<p style="text-align: center;"><span style="font-weight: 400;">Image 2 (Community )&nbsp;</span></p>
<p style="text-align: center;"><span style="font-weight: 400;">Image 3 (Groups )&nbsp;</span></p>
<p style="text-align: center;"><span style="font-weight: 400;">Image 4 (Agenda)</span></p>
<p><span style="font-weight: 400;">So, keep exploring and shoot us an email at </span><a href="mailto:hi@thegoyay.com"><span style="font-weight: 400;">hi@thegoyay.com</span></a> <span style="font-weight: 400;">if you have any questions/feedback/ideas! We&rsquo;re still early so your input is really appreciated.</span></p>
<h1 style="color: #5e9ca0;">&nbsp;</h1>
<p><span style="font-weight: 400;">Cheers,&nbsp;</span></p>
<p><span style="font-weight: 400;">The Goyay Team.</span></p>
