<ng-container *ngIf="meeting">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="white-color">
        <ion-back-button></ion-back-button>
        <ion-title>{{title }}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header class="ion-padding-b-5">
        <ion-card-title>{{meeting.title}}</ion-card-title>
        <ion-card-subtitle class="ion-margin-t-0" color="danger">Say No To {{meeting.group.name}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-img class="ion-text-center" [src]="meeting.imageUrl"></ion-img>
        <ion-text>
          {{meeting.agenda}}
        </ion-text>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="7">
              <ion-icon name="calendar"></ion-icon> {{meeting.meetingDate | date:"mediumDate"}}
            </ion-col>
            <ion-col size="5">
              <ion-icon name="alarm"></ion-icon> {{meeting.startTime | date:'shortTime'}} -
              {{meeting.endTime | date:'shortTime'}}
            </ion-col>
            <ion-col>
              <ion-icon name="pin"></ion-icon>{{meeting?.location}} {{meeting?.city?.name}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col size="7">
              <ion-avatar class="avater ion-margin-r-5" *ngFor="let m of meeting.members">
                <img [src]="m.user.imageUrl" />
              </ion-avatar>
            </ion-col>
            <ng-container *ngIf="meeting.members.length > 0">
              <ion-col class="fallowing-members">
                {{meeting.members.length}} more
              </ion-col>
              <ion-col class="fallowing-members">
                <ion-text color="danger" style="cursor: pointer;">View All</ion-text>
              </ion-col>
            </ng-container>
          </ion-row>
          <ion-row>
            <ion-tabs>
              <ion-tab-bar>
                <ion-tab-button>
                  <ion-label>Images</ion-label>
                </ion-tab-button>
                <ion-tab-button>
                  <ion-label>Videos</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <!-- <ion-avatar class="image-thumb ion-margin-r-5">
              <img src="assets/images/default-user.png"/>
            </ion-avatar>
            <ion-avatar class="image-thumb ion-margin-r-5">
              <img src="assets/images/user-1.jpg"/>
            </ion-avatar>
            <ion-avatar class="image-thumb ion-margin-r-5">
              <img src="assets/images/user-2.jpg"/>
            </ion-avatar> -->
              <ion-list class="image-list">
                <!-- <ion-item class="image-thumb" *ngFor="let item of imgList"> -->
                <ion-img class="image-thumb" *ngFor="let item of imgList" [src]="item.url"></ion-img>
                <!-- </ion-item> -->
                <ion-text color="danger"
                  style="cursor: pointer;align-items: center;justify-content: center;display: flex;">View All</ion-text>
              </ion-list>
            </ion-col>

          </ion-row>
          <ion-row>
            <h3 style="color: #000;font-weight: bold;">COMMENTS</h3>
            <ion-list class="meeting-list meeting-list-d">
              <ion-grid class="meeting-item ion-no-padding">
                <ion-row class="ion-nowrap">
                  <ion-col size="2" class="img-left ion-no-padding">
                    <ion-avatar class="avater">
                      <img [src]="googlePic" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="7" class="ion-no-padding">
                    <ion-label class="meeting-title" style="display: block;color: #000;">Let's gather our barriors
                    </ion-label>
                    <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
                  </ion-col>
                  <ion-col size="3" class="ion-no-padding">
                    <label class="meeting-date">5 minutes ago</label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
            <ion-list class="meeting-list meeting-list-d">
              <ion-grid class="meeting-item ion-no-padding">
                <ion-row class="ion-nowrap">
                  <ion-col size="2" class="img-left ion-no-padding">
                    <ion-avatar class="avater">
                      <img [src]="googlePic" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="7" class="ion-no-padding">
                    <ion-label class="meeting-title" style="display: block;color: #000;">Let's gather our barriors
                    </ion-label>
                    <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
                  </ion-col>
                  <ion-col size="3" class="ion-no-padding">
                    <label class="meeting-date">5 minutes ago</label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
            <ion-list class="meeting-list meeting-list-d">
              <ion-grid class="meeting-item ion-no-padding">
                <ion-row class="ion-nowrap">
                  <ion-col size="2" class="img-left ion-no-padding">
                    <ion-avatar class="avater">
                      <img [src]="googlePic" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="7" class="ion-no-padding">
                    <ion-label class="meeting-title" style="display: block;color: #000;">Let's gather our barriors
                    </ion-label>
                    <ion-label class="meeting-sub-title">Say No To Harrasment</ion-label>
                  </ion-col>
                  <ion-col size="3" class="ion-no-padding">
                    <label class="meeting-date">5 minutes ago</label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>